<a href="https://colab.research.google.com/github/kidujm/data_class/blob/main/0115_%EC%9C%A0%EC%A0%95%EB%AF%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

book = pd.read_csv('2025도서랭킹_최종수집본_.csv')
book

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,price,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,...,"13,500",216.0,한국소설,394.0,9.6,40.0,40.0,0.7,8.3,31.4
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,...,"12,600",336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,...,"15,120",332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,...,"11,700",308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,...,"13,500",368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,...,"9,000",40.0,그림책,8.0,9.3,30.0,30.0,0.9,6.4,46.2
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,...,"10,800",192.0,동화/명작/고전,14.0,10.0,40.0,40.0,0.9,0.9,14.3
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,...,"13,500",32.0,그림책,9.0,10.0,30.0,30.0,0.8,8.6,30.9
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,...,"12,600",40.0,그림책,23.0,9.7,30.0,40.0,0.9,4.8,40.3
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,...,"12,420",176.0,액션/스릴러소설,34.0,8.3,40.0,30.0,0.7,15.0,32.8

In [ ]:
# 모든 열 출력. 판다스 세팅
pd.set_option('display.max_columns', None) # 노트북에서 한번만 출력하면 됨
book

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,bookImageURL,bookDtlUrl,loan_count,d_url,sales_point,price,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,http://image.aladin.co.kr/product/4086/97/cove...,https://data4library.kr/bookV?seq=2037399,6300,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"767,918","13,500",216.0,한국소설,394.0,9.6,40.0,40.0,0.7,8.3,31.4
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27587/94/co...,https://data4library.kr/bookV?seq=6050062,5667,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"53,420","12,600",336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27877/5/cov...,https://data4library.kr/bookV?seq=6086446,5540,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"486,356","15,120",332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/071/...,https://data4library.kr/bookV?seq=1938053,5478,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"277,357","11,700",308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/18936/52/co...,https://data4library.kr/bookV?seq=5395822,4336,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"66,025","13,500",368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/072/...,https://data4library.kr/bookV?seq=1976287,331,https://www.aladin.co.kr/shop/wproduct.aspx?It...,402,"9,000",40.0,그림책,8.0,9.3,30.0,30.0,0.9,6.4,46.2
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,https://image.aladin.co.kr/product/29086/31/co...,https://data4library.kr/bookV?seq=6425211,331,https://www.aladin.co.kr/shop/wproduct.aspx?It...,175,"10,800",192.0,동화/명작/고전,14.0,10.0,40.0,40.0,0.9,0.9,14.3
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/35938/15/co...,https://data4library.kr/bookV?seq=7021806,331,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"1,084","13,500",32.0,그림책,9.0,10.0,30.0,30.0,0.8,8.6,30.9
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/096/...,https://data4library.kr/bookV?seq=2887808,331,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"3,761","12,600",40.0,그림책,23.0,9.7,30.0,40.0,0.9,4.8,40.3
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/23178/43/co...,https://data4library.kr/bookV?seq=5591724,331,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"2,137","12,420",176.0,액션/스릴러소설,34.0,8.3,40.0,30.0,0.7,15.0,32.8

In [ ]:
# 첫 5, 10, 20 행 출력
book.head(10)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,bookImageURL,bookDtlUrl,loan_count,d_url,sales_point,price,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,http://image.aladin.co.kr/product/4086/97/cove...,https://data4library.kr/bookV?seq=2037399,6300,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"767,918","13,500",216.0,한국소설,394.0,9.6,40.0,40.0,0.7,8.3,31.4
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27587/94/co...,https://data4library.kr/bookV?seq=6050062,5667,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"53,420","12,600",336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27877/5/cov...,https://data4library.kr/bookV?seq=6086446,5540,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"486,356","15,120",332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/071/...,https://data4library.kr/bookV?seq=1938053,5478,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"277,357","11,700",308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/18936/52/co...,https://data4library.kr/bookV?seq=5395822,4336,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"66,025","13,500",368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5
5,6,6,지구 끝의 온실 :김초엽 장편소설,지은이: 김초엽,Giant Books(자이언트북스),2021,9791191824001,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27692/63/co...,https://data4library.kr/bookV?seq=6065686,4238,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"39,064","16,650",392.0,과학소설(SF),87.0,9.0,20.0,20.0,0.8,8.3,51.7
6,7,7,채식주의자 :한강 장편소설,지은이: 한강,창비,2022,9788936434595,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/29137/2/cov...,https://data4library.kr/bookV?seq=6428779,4143,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"455,714","15,300",276.0,한국소설,67.0,8.3,40.0,50.0,0.7,9.6,26.9
7,8,8,밝은 밤 :최은영 장편소설,지은이: 최은영,문학동네,2021,9788954681179,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27541/91/co...,https://data4library.kr/bookV?seq=6045915,3886,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"44,077","13,950",344.0,한국소설,168.0,9.5,30.0,40.0,0.8,7.3,49.8
8,9,9,불편한 편의점 :김호연 장편소설,지은이: 김호연,나무옆의자,2021,9791161571188,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/26942/84/co...,https://data4library.kr/bookV?seq=5962217,3807,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"148,647","15,120",268.0,한국소설,171.0,8.7,40.0,40.0,0.7,11.1,21.2
9,10,10,채식주의자:한강 연작소설,한강,창비,2007,9788936433598,3810.0,NaN,813.60,문학 > 한국문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/033/...,https://data4library.kr/bookV?seq=2155671,3692,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"57,521","10,800",247.0,한국소설,380.0,8.3,40.0,40.0,0.7,11.5,40.0

## 열과 행 다루기

 ## 1.범위 지정 loc
 - 행, 열 범위를 지정할 수 있다 (동시에 지정가능)
 - 열 : 열이름 사용
 - 행 : 인덱스, 조건

In [ ]:
# loc 문법
'''
book.loc[행법위 지정, 열 범위 지정]
행범위는 인덱스 사용
열범위는 열이름 사용

'''

'\nbook.loc[행법위 지정, 열 범위 지정]\n행범위는 인덱스 사용\n열범위는 열이름 사용\n\n'

In [ ]:
book.loc[1:6]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,bookImageURL,bookDtlUrl,loan_count,d_url,sales_point,price,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27587/94/co...,https://data4library.kr/bookV?seq=6050062,5667,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"53,420","12,600",336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27877/5/cov...,https://data4library.kr/bookV?seq=6086446,5540,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"486,356","15,120",332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://bookthumb-phinf.pstatic.net/cover/071/...,https://data4library.kr/bookV?seq=1938053,5478,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"277,357","11,700",308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/18936/52/co...,https://data4library.kr/bookV?seq=5395822,4336,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"66,025","13,500",368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5
5,6,6,지구 끝의 온실 :김초엽 장편소설,지은이: 김초엽,Giant Books(자이언트북스),2021,9791191824001,3810.0,NaN,813.70,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/27692/63/co...,https://data4library.kr/bookV?seq=6065686,4238,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"39,064","16,650",392.0,과학소설(SF),87.0,9.0,20.0,20.0,0.8,8.3,51.7
6,7,7,채식주의자 :한강 장편소설,지은이: 한강,창비,2022,9788936434595,3810.0,NaN,813.62,문학 > 한국문학 > 소설,https://image.aladin.co.kr/product/29137/2/cov...,https://data4library.kr/bookV?seq=6428779,4143,https://www.aladin.co.kr/shop/wproduct.aspx?It...,"455,714","15,300",276.0,한국소설,67.0,8.3,40.0,50.0,0.7,9.6,26.9

In [ ]:
book.loc[1:6,'ranking':'authors']

   ranking                      bookname   authors
1        2             홍학의 자리 :정해연 장편소설   지은이: 정해연
2        3            작별하지 않는다 :한강 장편소설    지은이: 한강
3        4                 모순 :양귀자 장편소설   지은이: 양귀자
4        5  나는 소망한다 내게 금지된 것을 :양귀자 장편소설   지은이: 양귀자
5        6           지구 끝의 온실 :김초엽 장편소설   지은이: 김초엽
6        7               채식주의자 :한강 장편소설    지은이: 한강

In [ ]:
# 특정한 열이나 행만 지정
book.loc[[1,3,5],['ranking','loan_count']]

   ranking  loan_count
1        2        5667
3        4        5478
5        6        4238

In [ ]:
book_test = book.loc[[1,3,5],['ranking','loan_count']]

# 정제내역
- book: 수집원본
- book1: 열 삭제

In [ ]:
# 데이터프레임의 정보창
# 결측 -> 있어야하는데 비었다. NaN
# 누락 -> 있어야하는데 행 자체가 없음 (수집된 데이터에서 확인할 수 없음)
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                4848 non-null   int64
 1   ranking           4848 non-null   int64
 2   bookname          4848 non-null   object
 3   authors           4848 non-null   object
 4   publisher         4847 non-null   object
 5   publication_year  4835 non-null   object
 6   isbn13            4848 non-null   int64
 7   addition_symbol   4825 non-null   float64
 8   vol               1468 non-null   float64
 9   class_no          4848 non-null   float64
 10  class_nm          4848 non-null   object
 11  bookImageURL      4846 non-null   object
 12  bookDtlUrl        4848 non-null   object
 13  loan_count        4848 non-null   int64
 14  d_url             4848 non-null   object
 15  sales_point       4847 non-null   object
 16  price             4847 non-null   object
 17  page_count        4847 non-null   float64
 18  category          4847 non-null   object
 19  review_count      4847 non-null   float64
 20  average_rating    4847 non-null   float64
 21  최다연령대_여성          4848 non-null   float64
 22  최다연령대_남성          4848 non-null   float64
 23  성비_여성             4848 non-null   float64
 24  20~30대_남성         4848 non-null   float64
 25  20~30대_여성         4848 non-null   float64
dtypes: float64(11), int64(4), object(11)
memory usage: 984.9+ KB

## 2. 삭제 drop
- 특정 열만 지정해 삭제하고 싶을 때 ->  옵션 coloumns
- 행을 삭제할 떈 인덱스만

In [ ]:
book1 = book.drop(columns=['bookImageURL', 'bookDtlUrl', 'd_url'])

## 3. 열 순서 변경

In [ ]:
# 열 이름만 출력
book1.columns

Index(['no', 'ranking', 'bookname', 'authors', 'publisher', 'publication_year',
       'isbn13', 'addition_symbol', 'vol', 'class_no', 'class_nm',
       'loan_count', 'sales_point', 'price', 'page_count', 'category',
       'review_count', 'average_rating', '최다연령대_여성', '최다연령대_남성', '성비_여성',
       '20~30대_남성', '20~30대_여성'],
      dtype='object')

In [ ]:
# 리스트 복사
순서 = ['no', 'ranking', 'bookname', 'authors', 'publisher',
 'price','loan_count','sales_point','publication_year',
 'isbn13', 'addition_symbol', 'vol', 'class_no', 'class_nm',
 'page_count', 'category','review_count', 'average_rating',
 '최다연령대_여성', '최다연령대_남성', '성비_여성','20~30대_남성', '20~30대_여성']

In [ ]:
# 데이터프레임에 순서 전달
book1[순서]

,no,ranking,bookname,authors,publisher,price,loan_count,sales_point,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,"13,500",6300,"767,918",2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,216.0,한국소설,394.0,9.6,40.0,40.0,0.7,8.3,31.4
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,"12,600",5667,"53,420",2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,"15,120",5540,"486,356",2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,"11,700",5478,"277,357",2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,"13,500",4336,"66,025",2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,"9,000",331,402,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,40.0,그림책,8.0,9.3,30.0,30.0,0.9,6.4,46.2
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,"10,800",331,175,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,192.0,동화/명작/고전,14.0,10.0,40.0,40.0,0.9,0.9,14.3
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),"13,500",331,"1,084",2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,32.0,그림책,9.0,10.0,30.0,30.0,0.8,8.6,30.9
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,"12,600",331,"3,761",2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,40.0,그림책,23.0,9.7,30.0,40.0,0.9,4.8,40.3
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,"12,420",331,"2,137",2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,176.0,액션/스릴러소설,34.0,8.3,40.0,30.0,0.7,15.0,32.8

### 4. 열 이름 변경
- category 분류로

In [ ]:
book1['category'] #카테고리 열만 출력 시각적인 부분 빼고는 딕셔너리와 동일하다.

0            한국소설
1       추리/미스터리소설
2            한국소설
3            한국소설
4            한국소설
          ...
4843          그림책
4844     동화/명작/고전
4845          그림책
4846          그림책
4847     액션/스릴러소설
Name: category, Length: 4848, dtype: object

In [ ]:
# 새로운 열 생성
book1['분류'] = book1['category'] # 단순 열 복사
book1

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,category,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,한국소설,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,추리/미스터리소설,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,한국소설,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,한국소설,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,한국소설,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,331,402,"9,000",40.0,그림책,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,331,175,"10,800",192.0,동화/명작/고전,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,331,"1,084","13,500",32.0,그림책,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,331,"3,761","12,600",40.0,그림책,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,331,"2,137","12,420",176.0,액션/스릴러소설,34.0,8.3,40.0,30.0,0.7,15.0,32.8,액션/스릴러소설

In [ ]:
book1 = book1.drop(columns=['category']) #기존 category 열 복사
book1

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,331,402,"9,000",40.0,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,331,175,"10,800",192.0,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,331,"1,084","13,500",32.0,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,331,"3,761","12,600",40.0,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,331,"2,137","12,420",176.0,34.0,8.3,40.0,30.0,0.7,15.0,32.8,액션/스릴러소설

In [ ]:
book2 = book1.copy() # 단순 사본 뜰 때는 copy로 사본 뜨면 된다.

In [ ]:
book2.columns

Index(['no', 'ranking', 'bookname', 'authors', 'publisher', 'publication_year',
       'isbn13', 'addition_symbol', 'vol', 'class_no', 'class_nm',
       'loan_count', 'sales_point', 'price', 'page_count', 'review_count',
       'average_rating', '최다연령대_여성', '최다연령대_남성', '성비_여성', '20~30대_남성',
       '20~30대_여성', '분류'],
      dtype='object')

# 검색
- 데이터 변수의 종류
   * 변수 == 열이름 == 변량
   * 범주형(카테고리 또는 변수)
     - 'authors' , 'publisher' , 'publication_year' (현재는 범주),'addition_symbol',  'class_no', 'class_nm','분류',최다연령대_여성', '최다연령대_남성'
   * 연속형
    - 'loan_count',page_count'', '성비_여성','20~30대_남성', '20~30대_여성'
      'price','loan_count','sales_point'

   * 시간형(DateTime)

   - 고유값
    - bookname, isbn13

### 단순검색

In [ ]:
#출판사 검색 (창비에서 출판한 도서만)
book2['publisher'] # 열 하나 짜리 데이터를  시리즈객체 라고 함 (판다스에서 다루는 열의 형태)

0              창비
1            문학동네
2            문학동네
3              쓰다
4              쓰다
          ...
4843      알에이치코리아
4844          예림당
4845    보림(보림출판사)
4846          비룡소
4847        자음과모음
Name: publisher, Length: 4848, dtype: object

In [ ]:
book2['publisher'] == '창비'

0        True
1       False
2       False
3       False
4       False
        ...
4843    False
4844    False
4845    False
4846    False
4847    False
Name: publisher, Length: 4848, dtype: bool

In [ ]:
book2[book2['publisher'] == '문학동네']

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설
7,8,8,밝은 밤 :최은영 장편소설,지은이: 최은영,문학동네,2021,9788954681179,3810.0,NaN,813.70,문학 > 한국문학 > 소설,3886,"44,077","13,950",344.0,168.0,9.5,30.0,40.0,0.8,7.3,49.8,한국소설
14,15,15,바깥은 여름 :김애란 소설,지은이: 김애란,문학동네,2017,9788954646079,3810.0,NaN,813.70,문학 > 한국문학 > 소설,3391,"46,916","13,050",272.0,226.0,8.9,20.0,30.0,0.8,9.5,53.2,한국소설
17,18,18,이중 하나는 거짓말 :김애란 장편소설,지은이: 김애란,문학동네,2024,9791141601300,3810.0,NaN,813.70,문학 > 한국문학 > 소설,3254,"80,808","14,400",240.0,64.0,8.7,40.0,40.0,0.8,7.3,30.7,한국소설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4642,4788,4783,모든 비밀에는 이름이 있다 :서미애 장편소설,지은이: 서미애,문학동네,2021.0,9788954678148,4810.0,NaN,813.70,문학 > 한국문학 > 소설,344,"2,014","14,400",380.0,25.0,8.8,40.0,30.0,0.8,7.6,40.2,액션/스릴러소설
4724,4871,4868,당신의 별이 사라지던 밤 :서미애 장편소설,지은이: 서미애,문학동네,2018.0,9788954650168,3810.0,NaN,813.70,문학 > 한국문학 > 소설,339,"2,916","14,220",388.0,51.0,8.1,20.0,40.0,0.8,9.5,50.2,추리/미스터리소설
4757,4907,4900,1984 :조지 오웰 장편소설,지은이: 조지 오웰 ;옮긴이: 김기혁,문학동네,2009.0,9788954609166,4840.0,15.0,843.50,문학 > 영미문학 > 소설,336,"6,811","9,900",400.0,37.0,9.5,40.0,40.0,0.7,14.6,33.8,영미소설
4809,4961,4952,아직 멀었다는 말 :권여선 소설,지은이: 권여선,문학동네,2020.0,9788954670630,3810.0,NaN,813.62,문학 > 한국문학 > 소설,333,"5,951","13,500",284.0,33.0,9.4,30.0,30.0,0.8,10.4,42.8,한국소설
4813,4965,4952,다만 여행자가 될 수 있다면,지은이: 박완서,문학동네,2025.0,9791141601706,4810.0,NaN,814.62,문학 > 한국문학 > 수필,333,"7,258","15,120",248.0,8.0,9.2,40.0,40.0,0.8,3.6,18.7,한국에세이

In [ ]:
# 대출건수가 1000이 넘는 도서만 확인
book2[book2['loan_count']> 1000]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,1032,1029,해리포터 :비밀의 방,J.K. 롤링 지음 ;강동혁 옮김,문학수첩,2019,9788983927651,4840.0,22.0,843.50,문학 > 영미문학 > 소설,1004,"5,027","8,100",260.0,2.0,10.0,40.0,40.0,0.8,4.4,18.4,판타지/환상문학
1025,1033,1029,설민석의 삼국지 대모험,원작: 나관중 ;만화: 스튜디오 담,Dankkum i(단꿈아이),2021,9791191496635,77820.0,9.0,823.50,문학 > 중국문학 > 소설,1004,"2,225","9,900",152.0,19.0,10.0,40.0,40.0,0.8,1.2,9.6,동화/명작/고전
1026,1034,1029,씨 유 어게인 =김지윤 장편소설 /See you again,지은이: 김지윤,클레이하우스,2024,9791193235195,3810.0,NaN,813.70,문학 > 한국문학 > 소설,1004,"1,737","15,300",332.0,23.0,9.7,40.0,40.0,0.8,4.2,18.1,한국소설
1027,1035,1035,이게 정말 뭘까?,요시타케 신스케 글·그림 ;김정화 옮김,김영사,2020,9788934991922,77830.0,NaN,833.60,문학 > 일본문학 > 소설,1001,"3,959","11,700",48.0,15.0,9.6,40.0,40.0,0.9,2.2,29.2,초등1~2학년
1028,1036,1035,네 기분은 어떤 색깔이니? :최숙희 그림책,최숙희,책읽는곰,2023,9791158363925,77810.0,94.0,813.70,문학 > 한국문학 > 소설,1001,"10,423","12,600",40.0,12.0,9.7,40.0,40.0,0.9,3.3,29.4,그림책

In [ ]:
# 랭킹 TOP 100 위
book2[book2['ranking'] <= 100 ]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,96,할머니의 여름휴가,안녕달,창비,2016,9788936454951,77810.0,NaN,813.80,문학 > 한국문학 > 소설,1774,"15,261","14,220",56.0,32.0,9.7,30.0,40.0,0.9,3.8,50.3,그림책
96,97,97,랑과 나의 사막 :천선란 소설,지은이: 천선란,H(현대문학),2022,9791167901354,4810.0,NaN,813.70,문학 > 한국문학 > 소설,1770,"8,391","13,500",160.0,27.0,9.2,20.0,40.0,0.8,7.3,60.4,과학소설(SF)
97,98,98,파친코 :이민진 장편소설,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,4840.0,1.0,843.60,문학 > 영미문학 > 소설,1769,"21,136","13,050",368.0,37.0,8.9,40.0,40.0,0.7,6.0,29.9,영미소설
98,99,99,바다 100층짜리 집,글·그림: 이와이 도시오 ;옮김: 김숙,북뱅크,2014,9788966350278,74830.0,NaN,833.60,문학 > 일본문학 > 소설,1763,"23,742","9,900",32.0,29.0,9.7,30.0,40.0,0.8,6.2,52.0,그림책
99,100,100,오로라,지은이: 최진영,위즈덤하우스,2024,9791168127500,4810.0,NaN,813.70,문학 > 한국문학 > 소설,1761,"9,087","11,700",88.0,20.0,8.5,20.0,40.0,0.9,3.0,60.0,한국소설

In [ ]:
# 100위 권내 '창비' 출판사 도서만 csv 파일로 저장
top100 = book2[book2['ranking'] <= 100 ]
top100_창비 = top100[top100['publisher'] == '창비']
top100_창비

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설
6,7,7,채식주의자 :한강 장편소설,지은이: 한강,창비,2022,9788936434595,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4143,"455,714","15,300",276.0,67.0,8.3,40.0,50.0,0.7,9.6,26.9,한국소설
9,10,10,채식주의자:한강 연작소설,한강,창비,2007,9788936433598,3810.0,NaN,813.60,문학 > 한국문학 > 소설,3692,"57,521","10,800",247.0,380.0,8.3,40.0,40.0,0.7,11.5,40.0,한국소설
28,29,29,대온실 수리 보고서 :김금희 장편소설,지은이: 김금희,창비,2024,9788936439651,3810.0,NaN,813.70,문학 > 한국문학 > 소설,2812,"61,101","16,200",416.0,79.0,8.6,40.0,50.0,0.8,5.9,29.0,한국소설
31,32,32,혼모노 :성해나 소설집,지은이: 성해나,창비,2025,9788936439743,3810.0,NaN,813.70,문학 > 한국문학 > 소설,2711,"390,401","16,200",368.0,86.0,8.5,40.0,40.0,0.8,8.3,34.0,한국소설
35,36,36,대도시의 사랑법 :박상영 연작소설,지은이: 박상영,창비,2019,9788936437978,3810.0,NaN,813.70,문학 > 한국문학 > 소설,2565,"30,842","16,200",376.0,120.0,8.5,20.0,30.0,0.7,14.7,45.1,한국소설
40,41,41,수박 수영장 :안녕달 그림책,지은이: 안녕달,창비,2015,9788936446819,77810.0,NaN,813.70,문학 > 한국문학 > 소설,2434,"31,700","12,600",60.0,44.0,9.7,30.0,40.0,0.9,4.7,52.9,그림책
55,56,56,아버지의 해방일지 :정지아 장편소설,지은이: 정지아,창비,2022,9788936438838,3810.0,NaN,813.62,문학 > 한국문학 > 소설,2121,"53,447","15,300",268.0,169.0,9.4,40.0,50.0,0.7,6.5,19.2,한국소설
62,63,63,아몬드 :손원평 장편소설,지은이: 손원평,창비,2017,9788936434267,3810.0,NaN,813.70,문학 > 한국문학 > 소설,2030,"32,398","12,600",264.0,214.0,8.6,40.0,40.0,0.8,7.0,35.8,한국소설
65,66,66,당근 유치원,지은이: 안녕달,창비,2020,9788936455484,77810.0,NaN,813.70,문학 > 한국문학 > 소설,2006,"13,449","12,600",48.0,42.0,9.7,30.0,40.0,0.9,3.9,51.0,그림책
68,69,69,고양이 해결사 깜냥,홍민정 동화 ;김재희 그림,창비,2020,9788936447694,74810.0,1.0,813.70,문학 > 한국문학 > 소설,1991,"23,764","10,800",80.0,134.0,9.8,40.0,40.0,0.9,2.1,25.9,동화/명작/고전
76,77,77,건전지 엄마 :강인숙·전승배 그림책,"지은이: 강인숙,전승배",창비,2023,9788936429010,77810.0,NaN,813.70,문학 > 한국문학 > 소설,1939,"7,820","13,500",48.0,65.0,9.8,40.0,40.0,0.9,4.1,35.8,그림책
80,81,81,당근 할머니 :안녕달 그림책,지은이: 안녕달,창비,2024,9788936429232,77810.0,NaN,813.70,문학 > 한국문학 > 소설,1923,"7,429","12,600",40.0,35.0,10.0,40.0,40.0,0.9,3.1,33.0,그림책
89,90,90,피프티 피플 :정세랑 장편소설,지은이: 정세랑,창비,2016,9788936434243,3810.0,NaN,813.70,문학 > 한국문학 > 소설,1809,"15,692","12,600",396.0,88.0,9.0,20.0,30.0,0.9,6.7,62.7,한국소설
91,92,92,달까지 가자 :장류진 장편소설,지은이: 장류진,창비,2021,9788936434496,3810.0,NaN,813.70,문학 > 한국문학 > 소설,1787,"7,549","16,200",364.0,68.0,7.9,30.0,30.0,0.8,10.6,50.3,한국소설
95,96,96,할머니의 여름휴가,안녕달,창비,2016,9788936454951,77810.0,NaN,813.80,문학 > 한국문학 > 소설,1774,"15,261","14,220",56.0,32.0,9.7,30.0,40.0,0.9,3.8,50.3,그림책

In [ ]:
len(top100_창비)  # 배열의 길이

16

In [ ]:
top100_창비.to_csv('top100_창비.csv', index=False )

## 검색 및 수정 loc

In [ ]:
# book2.loc[ 행 조건,열 이름 ]
# 파생변수 : '대출 수준 ' -> 상위권, 하위권, 기준은 대출건수 1000건
book2.loc[book2['loan_count'] >= 1000, ['bookname','price']] # 대출건수가 1000건 이상인데 도서명만 출력 /열이 두 개 라면 리스트로 전달

                               bookname   price
0                      소년이 온다 :한강 장편소설   13,500
1                     홍학의 자리 :정해연 장편소설   12,600
2                    작별하지 않는다 :한강 장편소설   15,120
3                         모순 :양귀자 장편소설   11,700
4          나는 소망한다 내게 금지된 것을 :양귀자 장편소설   13,500
...                                 ...     ...
1025                       설민석의 삼국지 대모험   9,900
1026  씨 유 어게인 =김지윤 장편소설 /See you again   15,300
1027                         이게 정말 뭘까?   11,700
1028           네 기분은 어떤 색깔이니? :최숙희 그림책   12,600
1029            우리는 페퍼로니에서 왔어 :김금희 소설집   12,600

[379 rows x 2 columns]

In [ ]:
# 대출수준 열 생성
book2['대출수준'] = '' #뭘 저장할 지 몰라서 빈 문자열을 넣음

In [ ]:
# 대출건수 1000건 이상은 '상위권'
book2.loc[book2['loan_count']>=1000,'대출수준'] = '상위권'

In [ ]:
# 대출건수 1000건 미만은 '히위권'
book2.loc[book2['loan_count'] < 1000,'대출수준'] = '하위권'

In [ ]:
book2

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설,상위권
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설,상위권
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설,상위권
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설,상위권
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설,상위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,331,402,"9,000",40.0,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,331,175,"10,800",192.0,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,331,"1,084","13,500",32.0,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,331,"3,761","12,600",40.0,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,331,"2,137","12,420",176.0,34.0,8.3,40.0,30.0,0.7,15.0,32.8,액션/스릴러소설,하위권

In [ ]:
# '창비미디어'라는 문자를 찾아서 전부 '창비'로 바꾸기
# 행범위 -> book2['publisher'] == '창비미디어'
# 열범위 -> publisher

In [ ]:
book2.loc[book2['publisher'] == '창비미디어','publisher'] = '창비'

In [ ]:
book2['publisher'].value_counts()

publisher
책읽는곰       289
문학동네       259
민음사        218
창비         183
비룡소        163
          ...
계림북스         1
웅진닷컴         1
안김           1
강한별 출판사      1
고릴라박스        1
Name: count, Length: 572, dtype: int64

In [ ]:
# 리뷰가 없는 도서 검색
book2[book2['review_count'] == 0 ]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
450,452,452,(전설의 모험왕) 엉덩이 댄디 :the young,원작·감수: 트롤 ;옮긴이: 김정화,미래엔,2021,9791164137503,77830.0,1.0,830.00,문학 > 일본문학 > 일본문학,836,"1,380","10,800",96.0,0.0,5.0,40.0,40.0,0.8,3.0,25.9,동화/명작/고전,하위권
488,490,488,비밀요원 레너드,글: 박설연 ;그림: 김덕영,아울북(북이십일 아울북),2022,9791171173310,74810.0,18.0,813.70,문학 > 한국문학 > 소설,807,811,"13,320",96.0,0.0,0.0,40.0,40.0,0.8,3.0,17.8,동화/명작/고전,하위권
547,549,545,라비우와 링과,지은이: 김서해,위즈덤하우스,2024,9791171717064,4810.0,NaN,813.70,문학 > 한국문학 > 소설,758,"4,928","11,700",128.0,0.0,10.0,20.0,50.0,0.9,3.0,77.6,한국소설,하위권
589,592,592,소년이 온다 :한강 장편소설,지은이: 한강,창비,2017,9788936473242,3810.0,2.0,813.62,문학 > 한국문학 > 소설,726,"5,006","19,000",120.0,0.0,9.5,40.0,50.0,0.8,7.0,29.6,한국소설,하위권
597,600,599,엉덩이탐정,트롤 글·그림 ;전경아 옮김,문학수첩리틀북,2020,9788959762415,77830.0,6.0,833.60,문학 > 일본문학 > 소설,722,"1,251","10,800",40.0,0.0,0.0,40.0,40.0,0.8,3.7,30.1,초등1~2학년,하위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4800,4952,4952,엄마를 구해 줘 :이명하 그림책,지은이: 이명하,웅진씽크빅,2018.0,9788901226668,74810.0,NaN,813.70,문학 > 한국문학 > 소설,333,179,"12,600",56.0,0.0,10.0,30.0,30.0,0.9,7.8,48.5,그림책,하위권
4808,4960,4952,배드 가이즈,애런 블레이비 지음 ;신수진 옮김,비룡소,2021.0,9788949144092,77800.0,9.0,843.00,문학 > 영미문학 > 소설,333,215,"11,700",144.0,0.0,0.0,40.0,40.0,0.8,3.3,21.0,동화/명작/고전,하위권
4819,4971,4952,밍꼬발랄 :공소시효,원작: 밍꼬발랄 ;그림: 라임스튜디오,겜툰,2020.0,9791190980876,77800.0,6.0,810.00,문학 > 한국문학 > 한국문학,333,234,"10,800",172.0,0.0,0.0,40.0,40.0,0.8,1.6,24.0,TV/만화/영화,하위권
4821,4973,4972,코딱지 코지의 콧구멍 탈출 작전 :허정윤 그림책,글·그림: 허정윤,웅진씽크빅,2022.0,9788901266893,74810.0,NaN,813.70,문학 > 한국문학 > 소설,332,195,"12,600",44.0,0.0,0.0,40.0,40.0,0.9,0.0,34.0,그림책,하위권
4842,4995,4995,채소 학교와 파란 머리 토마토,글·그림: 나카야 미와 ;옮김: 김난주,웅진씽크빅,2017.0,9788901217000,74840.0,NaN,833.60,문학 > 일본문학 > 소설,331,730,"10,800",40.0,0.0,0.0,30.0,40.0,0.9,3.9,56.3,그림책,하위권

- 리뷰가 0개인 도서의 평균별점이 0이 아니라면
- 리뷰의 평균값으로 값을 대체

In [ ]:
# 해야할 것 > 뭐에서 뭘 찾아서 뭘로 바꿀지 생각  - 어떤 부분을 정제 해야하는지
# 1. 리뷰가 0개 이지만 별점평균이 0이 아닌 도서
#조건1: book2['review_count'] == 0
#조건2: book2['average_rating'] != 0

# 2. and(&) 와 or(|)
book2.loc[(book2['review_count'] == 0) & (book2['average_rating'] != 0), 'review_count'] =  28

In [ ]:
# 중복처리
- 해야됨
- 열에 따라 중복을 꼭 확인해야 되는 경우가 있다.
(상품 id,식별자,주민등록번호 등등)
 *고유값 : isbn13, 도서명,
 *범주형, 연속형 : 중복이 당연하다.

SyntaxError: invalid syntax (ipython-input-3339214732.py, line 3)

## duplicated()
 잘못된 열 수정하고 중복 처리 우선
  - PART 1
    * duplicated() 최초값 빼고 나머지 중복만 나온다.
      - [주로 중복데이터 갯수]
    * duplicated(keep = False) 최초값 포함한 모든 중복이 나온다.
      - [중복데이터끼리 묶어서 출력 후 확인용]

  - PART 2 반전 (반전할 때는 처리할 때 사용)
    * ~duplicated() 최초값이랑 유일값만 남긴다.( 중복 x )
      -[주로 처리용]
    * ~duplicated(keep=False) 원래부터 1개 였던 (유일값)만 남긴다.

In [ ]:
# 최초의 값 뺴고 나머지 중복 (불리언 값)
df_sample = pd.DataFrame({
        'id':['a','a','b','c','b'],
        'age':[20, 30, 40, 50, 50]
})
df_sample

# 중복값을 조절

  id  age
0  a   20
1  a   30
2  b   40
3  c   50
4  b   50

In [ ]:
# .duplicated() -
sum(df_sample['id'].duplicated())

2

In [ ]:
sum(book2['isbn13'].duplicated())

496

In [ ]:
# isbn13 이 중복인 데이터 (처음으로 나온 최초값 제외)
book2[book2['isbn13'].duplicated()] # 데이터프레임 안에 넣어서 데이터프레임으로 출력

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
159,161,160,긴긴밤,루리 글·그림,문학동네,2021,9788954677158,73810.0,83.0,813.7,문학 > 한국문학 > 소설,1424,"144,993","11,250",144.0,104.0,9.6,40.0,40.0,0.9,3.5,31.7,동화/명작/고전,상위권
260,262,262,꽁꽁꽁 캠핑 :윤정주 그림책,윤정주,책읽는곰,2023,9791158364120,77810.0,98.0,813.7,문학 > 한국문학 > 소설,1168,"3,041","12,600",44.0,11.0,9.6,40.0,40.0,0.9,2.2,35.7,그림책,상위권
304,306,306,꽁꽁꽁 아이스크림 :윤정주 그림책,윤정주,책읽는곰,2022,9791158363499,77810.0,NaN,813.7,문학 > 한국문학 > 소설,1063,"4,177","12,600",44.0,7.0,9.2,40.0,40.0,0.9,2.6,37.6,그림책,상위권
310,312,312,알사탕,백희나,책읽는곰,2017,9791158360375,77810.0,NaN,813.7,문학 > 한국문학 > 소설,1058,"32,526","10,800",48.0,70.0,10.0,30.0,40.0,0.9,3.9,42.9,그림책,상위권
313,315,314,슈퍼 거북,유설화 글·그림,책읽는곰,2014,9788993242980,77810.0,NaN,813.7,문학 > 한국문학 > 소설,1046,"15,716","9,900",44.0,28.0,9.8,40.0,50.0,0.9,1.0,21.0,그림책,상위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4832,4985,4972,괴물들이 사라졌다,박우희 글·그림,책읽는곰,2011.0,9788993242515,77810.0,NaN,813.7,문학 > 한국문학 > 소설,332,"1,269","9,900",44.0,7.0,8.8,30.0,40.0,0.9,4.2,47.3,그림책,하위권
4833,4986,4972,꿈의 자동차 :허아성 그림책,허아성 글·그림,책읽는곰,2018.0,9791158360979,77810.0,NaN,813.7,문학 > 한국문학 > 소설,332,689,"10,800",36.0,5.0,10.0,30.0,40.0,0.9,2.8,43.8,그림책,하위권
4834,4987,4972,오랑 왕자와 개굴개굴 칠총사,구도 노리코 글·그림 ;윤수정 옮김,책읽는곰,2024.0,9791158364533,77830.0,75.0,833.6,문학 > 일본문학 > 소설,332,334,"11,700",32.0,3.0,10.0,40.0,40.0,0.8,6.6,30.3,그림책,하위권
4842,4995,4995,채소 학교와 파란 머리 토마토,글·그림: 나카야 미와 ;옮김: 김난주,웅진씽크빅,2017.0,9788901217000,74840.0,NaN,833.6,문학 > 일본문학 > 소설,331,730,"10,800",40.0,0.0,0.0,30.0,40.0,0.9,3.9,56.3,그림책,하위권
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.7,문학 > 한국문학 > 소설,331,"2,137","12,420",176.0,34.0,8.3,40.0,30.0,0.7,15.0,32.8,액션/스릴러소설,하위권

In [ ]:
df_sample['id'].duplicated(keep=False) # 유일한 값만 F - 중복이 아닌 애들만 F다

0     True
1     True
2     True
3    False
4     True
Name: id, dtype: bool

In [ ]:
sum(book2['isbn13'].duplicated(keep=False))

939

In [ ]:
# 최초값 포함 isbn13 중복된 행들 -> 단, 확인이 어려움.
book2[book2['isbn13'].duplicated( keep = False )].sort_values('isbn13', ascending = False).head(20)
#.head 정렬하기 오름차순

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
4291,4428,4415,자율주행 경찰 로봇,글/그림: 김호남,센트럴라이즈드,2021.0,9791197056116,77810.0,8.0,813.70,문학 > 한국문학 > 소설,367,534,"11,700",44.0,6.0,9.7,40.0,40.0,0.9,4.0,37.6,그림책,하위권
3170,3278,3274,자율주행 경찰 로봇,글/그림: 김호남,센트럴라이즈드,2021,9791197056116,77810.0,NaN,813.70,문학 > 한국문학 > 소설,463,534,"11,700",44.0,6.0,9.7,40.0,40.0,0.9,4.0,37.6,그림책,하위권
1966,2001,1992,요리코를 위해 :노리즈키 린타로 장편소설,지은이: 노리즈키 린타로 ;옮긴이: 이기웅,바이포엠,2020.0,9791196814342,3830.0,NaN,833.60,문학 > 일본문학 > 소설,645,"2,671","13,500",424.0,57.0,8.1,20.0,20.0,0.7,15.8,42.0,추리/미스터리소설,하위권
1962,1996,1991,요리코를 위해 :노리즈키 린타로 장편소설,지은이: 노리즈키 린타로 ;옮긴이: 이기웅,바이포엠,2020,9791196814342,3830.0,NaN,833.60,문학 > 일본문학 > 소설,644,"2,671","13,500",424.0,57.0,8.1,20.0,20.0,0.7,15.8,42.0,추리/미스터리소설,하위권
1537,1549,1545,회색 인간,지은이: 김동식,요다,2017,9791196222628,4810.0,1.0,813.70,문학 > 한국문학 > 소설,764,"38,727","11,700",356.0,68.0,8.6,40.0,40.0,0.7,9.1,24.6,한국소설,하위권
182,184,184,회색 인간,지은이: 김동식,요다,2017,9791196222628,4810.0,NaN,813.70,문학 > 한국문학 > 소설,1375,"38,727","11,700",356.0,68.0,8.6,40.0,40.0,0.7,9.1,24.6,한국소설,상위권
966,973,972,회색 인간,지은이: 김동식,요다,2017,9791196222628,4810.0,1.0,813.70,문학 > 한국문학 > 소설,544,"38,727","11,700",356.0,68.0,8.6,40.0,40.0,0.7,9.1,24.6,한국소설,하위권
3664,3787,3771,우주 괴물의 지구 침공,글/그림: 김호남,센트럴라이즈드,2019,9791195342075,77810.0,NaN,813.70,문학 > 한국문학 > 소설,416,464,"11,700",44.0,10.0,9.8,30.0,40.0,0.9,2.1,43.6,그림책,하위권
4039,4173,4163,우주 괴물의 지구 침공,글/그림: 김호남,센트럴라이즈드,2019.0,9791195342075,77810.0,7.0,813.70,문학 > 한국문학 > 소설,385,464,"11,700",44.0,10.0,9.8,30.0,40.0,0.9,2.1,43.6,그림책,하위권
4179,4314,4304,잠수 로봇의 바다 탐험,글/그림: 김호남,센트럴라이즈드,2018.0,9791195342068,77810.0,6.0,813.70,문학 > 한국문학 > 소설,374,407,"11,700",44.0,5.0,9.6,30.0,40.0,0.8,3.3,49.8,그림책,하위권
3179,3287,3279,잠수 로봇의 바다 탐험,글/그림: 김호남,센트럴라이즈드,2018,9791195342068,77810.0,NaN,813.70,문학 > 한국문학 > 소설,462,407,"11,700",44.0,5.0,9.6,30.0,40.0,0.8,3.3,49.8,그림책,하위권
4167,4302,4291,인공지능 산타 로봇,글·그림: 김호남,센트럴라이즈드,2016.0,9791195342051,77810.0,NaN,813.70,문학 > 한국문학 > 소설,375,453,"11,700",44.0,5.0,9.6,30.0,40.0,0.9,3.9,41.8,그림책,하위권
4705,4851,4840,인공지능 산타 로봇,글·그림: 김호남,센트럴라이즈드,2016.0,9791195342051,77810.0,5.0,813.70,문학 > 한국문학 > 소설,341,453,"11,700",44.0,5.0,9.6,30.0,40.0,0.9,3.9,41.8,그림책,하위권
4277,4414,4394,화산이 폭발했다!,글·그림: 김호남,센트럴라이즈드,2016.0,9791195342044,77810.0,NaN,813.70,문학 > 한국문학 > 소설,368,484,"11,700",44.0,1.0,10.0,30.0,40.0,0.9,2.9,53.6,그림책,하위권
4018,4150,4129,화산이 폭발했다!,글·그림: 김호남,센트럴라이즈드,2016.0,9791195342044,77810.0,4.0,813.70,문학 > 한국문학 > 소설,387,484,"11,700",44.0,1.0,10.0,30.0,40.0,0.9,2.9,53.6,그림책,하위권
1718,1735,1735,이상한 무인 사진관,서아람 글 ;안병현 그림,라곰스쿨,2024,9791193939031,77810.0,NaN,813.70,문학 > 한국문학 > 소설,704,"2,001","12,600",156.0,6.0,9.7,40.0,40.0,0.9,1.5,13.0,동화/명작/고전,하위권
3183,3292,3288,이상한 무인 사진관,서아람 글 ;안병현 그림,라곰스쿨,2024,9791193939031,77810.0,4.0,813.70,문학 > 한국문학 > 소설,461,"2,001","12,600",156.0,6.0,9.7,40.0,40.0,0.9,1.5,13.0,동화/명작/고전,하위권
1006,1014,1013,"말하지 않으면 인생은 바뀌지 않는다 :세계 최고의 커뮤니케이션 코치, 샘 혼의 더 ...",샘 혼 지음 ;서은경 옮김,서삼독,2024,9791193904046,3190.0,NaN,802.56,"문학 > 문학 > 문장작법, 수사학",1012,"6,045","18,000",424.0,1.0,9.5,40.0,40.0,0.7,11.9,24.4,협상/설득/화술,상위권
834,840,834,"말하지 않으면 인생은 바뀌지 않는다 :세계 최고의 커뮤니케이션 코치, 샘 혼의 더 ...",샘 혼 지음 ;서은경 옮김,서삼독,2024,9791193904046,3190.0,NaN,802.56,"문학 > 문학 > 문장작법, 수사학",598,"6,045","18,000",424.0,1.0,9.5,40.0,40.0,0.7,11.9,24.4,협상/설득/화술,하위권
984,991,987,사바삼사라 서 :J. 김보영 장편소설,지은이: J. 김보영,디플롯,2024,9791193591192,4810.0,1.0,813.70,문학 > 한국문학 > 소설,538,429,"19,800",800.0,10.0,9.5,20.0,50.0,0.7,7.7,44.3,판타지/환상문학,하위권

_ isbn13이 동일한 (중복인) 도서는 하나로 합침. 대출건수의 합을 대체

-도서명이 중복인 도서들은 (시리즈물) 하나로 합침, 대출건수는 평균.

In [ ]:
#백업
book2 = pd.read_csv('도서정제2026_01_15.csv')

In [5]:
book3 = pd.read_csv('도서정제2026_01_15.csv')

In [ ]:
book3['isbn13'].duplicated().sum()

np.int64(496)

- 혹시나, isbn13 또는 도서명에 이상한 데이터(오류)가 있는지

In [6]:
book3['isbn13'].value_counts().sort_index()

isbn13
9780590353427    1
9780679824114    1
9780679824121    1
9780810987586    1
9788901033518    2
                ..
9791198960122    1
9791199013520    1
9791199022911    1
9791199059078    1
9791199244313    1
Name: count, Length: 4352, dtype: int64

In [7]:
book3['bookname'].value_counts().sort_index()

bookname
#진상을 말씀드립니다                                           1
(2020) 시는 노래가 되어                                      1
(2024 제15회) 젊은작가상 수상작품집                               5
(2025 제16회) 젊은작가상 수상작품집                               3
(Disney·Pixar) 엘리멘탈                                   1
                                                     ..
히든 픽처스                                                1
힐빌리의 노래 :위기의 가정과 문화에 대한 회고                            1
힘 빼기의 기술 :카피라이터 김하나의 유연한 일상                           1
힘내, 두더지야                                              1
힘들어? 그래도 해야지 어떡해 :현실 공감 120%! 팩폭과 위로를 넘나드는 아찔 에세이     1
Name: count, Length: 3716, dtype: int64

In [ ]:
# groupby 데이터를 내가원하는 기준으로 그룹화 한 후, 각 그룹에 대해 통계적 연산을 적용 할 수 있게해줍니다.
data = {'이름': ['김철수', '박영희', '김철수', '박영희', '이민수'],
        '과목': ['수학', '수학', '영어', '영어', '수학'],
        '점수': [85, 95, 78, 92, 88]}
score = pd.DataFrame(data)
score

    이름  과목  점수
0  김철수  수학  85
1  박영희  수학  95
2  김철수  영어  78
3  박영희  영어  92
4  이민수  수학  88

In [ ]:
# 학생별 전과목 평균점수
score.groupby('이름')['점수'].mean() # 평균
#-----------------------------------#max #최대값
                                   #count #빈도
                                  #median() #중앙값
                                  #std() #표준편차

이름
김철수    81.5
박영희    93.5
이민수    88.0
Name: 점수, dtype: float64

In [ ]:
# 과목별 최대점수
score.groupby('과목')['점수'].max()

과목
수학    95
영어    92
Name: 점수, dtype: int64

In [ ]:
# 학생별로 각 과목의 점수
score.groupby(['이름','과목'])['점수'].mean()

이름   과목
김철수  수학    85.0
     영어    78.0
박영희  수학    95.0
     영어    92.0
이민수  수학    88.0
Name: 점수, dtype: float64

In [ ]:
# 출판사별 대출건수 최대값
book3.groupby('publisher')['loan_count'].max()

publisher
21세기북스(북이십일 21세기북스)     654
Alma(알마 출판사)            828
Amulet Books            452
Arte(북이십일 아르테)          553
Arte(아르테)              2033
                       ...
황소북스                    810
휴머니스트출판그룹              1011
휴먼큐브                    992
흐름출판                   1303
흔                      1380
Name: loan_count, Length: 572, dtype: int64

In [ ]:
# 분류별 페이지 수의 평균
book3.groupby('분류')['page_count'].mean()

분류
0~3세            23.000000
4~7세            36.000000
TV/만화/영화       162.356164
e비즈니스/창업       288.000000
게임 만화/캐릭터도감    184.000000
                  ...
한국에세이          269.703704
행복론            240.000000
협상/설득/화술       292.888889
호러.공포소설        372.538462
희곡             199.181818
Name: page_count, Length: 68, dtype: float64

In [ ]:
# 출판사별,분류별,리뷰수의 평균
book3.groupby(['publisher','분류'])['review_count'].mean()

publisher            분류
21세기북스(북이십일 21세기북스)  명사에세이          5.00
                     사진/그림 에세이     34.00
                     한국에세이         10.00
Alma(알마 출판사)         세계의 소설        18.00
Amulet Books         챕터북            7.00
                                   ...
휴머니스트출판그룹            한국에세이         18.75
휴먼큐브                 그림책            8.10
흐름출판                 외국에세이        223.00
                     한국에세이         44.00
흔                    한국에세이         66.00
Name: review_count, Length: 1151, dtype: float64

In [ ]:
book3.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4848 entries, 0 to 4847
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                4848 non-null   int64
 1   ranking           4848 non-null   int64
 2   bookname          4848 non-null   object
 3   authors           4848 non-null   object
 4   publisher         4847 non-null   object
 5   publication_year  4835 non-null   object
 6   isbn13            4848 non-null   int64
 7   addition_symbol   4825 non-null   float64
 8   vol               1468 non-null   float64
 9   class_no          4848 non-null   float64
 10  class_nm          4848 non-null   object
 11  loan_count        4848 non-null   int64
 12  sales_point       4847 non-null   object
 13  price             4847 non-null   object
 14  page_count        4847 non-null   float64
 15  review_count      4847 non-null   float64
 16  average_rating    4847 non-null   float64
 17  최다연령대_여성          4848 non-null   float64
 18  최다연령대_남성          4848 non-null   float64
 19  성비_여성             4848 non-null   float64
 20  20~30대_남성         4848 non-null   float64
 21  20~30대_여성         4848 non-null   float64
 22  분류                4847 non-null   object
 23  대출수준              4848 non-null   object
dtypes: float64(11), int64(4), object(9)
memory usage: 909.1+ KB

# 중복처리 - isbn13/bookname

1.isbn 중복확인용 샘플선정
2.처리 및 확인
3.도서명중복 확인 (시리즈,초판재판)
4.샘플 선정
5.처리 및 확인

In [8]:
book3[book3['isbn13'].duplicated(keep=False)].sort_values('isbn13')

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
717,722,722,돼지책,글·그림: 앤서니 브라운;옮긴이: 허은미,웅진씽크빅,2006,9788901033518,74800.0,1.0,843.0,...,32.0,206.0,9.5,30.0,40.0,0.9,5.1,44.6,그림책,하위권
944,951,951,돼지책,글·그림: 앤서니 브라운;옮긴이: 허은미,웅진씽크빅,2006,9788901033518,74800.0,NaN,843.0,...,32.0,206.0,9.5,30.0,40.0,0.9,5.1,44.6,그림책,하위권
2041,2082,2082,우리 엄마,앤서니 브라운 글·그림;허은미 옮김,웅진씽크빅,2005.0,9788901047904,74800.0,16.0,843.0,...,26.0,66.0,9.1,30.0,30.0,0.9,9.6,69.7,그림책,하위권
1835,1858,1858,우리 엄마,앤서니 브라운 글·그림;허은미 옮김,웅진씽크빅,2005,9788901047904,74800.0,NaN,843.0,...,26.0,66.0,9.1,30.0,30.0,0.9,9.6,69.7,그림책,하위권
3821,3950,3950,도서관에 간 사자,글: 미셸 누드슨;옮김: 홍연미,웅진씽크빅,2007,9788901060316,74840.0,107.0,843.0,...,40.0,41.0,9.4,30.0,30.0,0.8,8.0,58.3,그림책,하위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1537,1549,1545,회색 인간,지은이: 김동식,요다,2017,9791196222628,4810.0,1.0,813.7,...,356.0,68.0,8.6,40.0,40.0,0.7,9.1,24.6,한국소설,하위권
1962,1996,1991,요리코를 위해 :노리즈키 린타로 장편소설,지은이: 노리즈키 린타로 ;옮긴이: 이기웅,바이포엠,2020,9791196814342,3830.0,NaN,833.6,...,424.0,57.0,8.1,20.0,20.0,0.7,15.8,42.0,추리/미스터리소설,하위권
1966,2001,1992,요리코를 위해 :노리즈키 린타로 장편소설,지은이: 노리즈키 린타로 ;옮긴이: 이기웅,바이포엠,2020.0,9791196814342,3830.0,NaN,833.6,...,424.0,57.0,8.1,20.0,20.0,0.7,15.8,42.0,추리/미스터리소설,하위권
3170,3278,3274,자율주행 경찰 로봇,글/그림: 김호남,센트럴라이즈드,2021,9791197056116,77810.0,NaN,813.7,...,44.0,6.0,9.7,40.0,40.0,0.9,4.0,37.6,그림책,하위권
4291,4428,4415,자율주행 경찰 로봇,글/그림: 김호남,센트럴라이즈드,2021.0,9791197056116,77810.0,8.0,813.7,...,44.0,6.0,9.7,40.0,40.0,0.9,4.0,37.6,그림책,하위권

## 샘플
 - 돼지책 9788901033518  656,551
 - 요리코 9791196814342  644,645

## groupby

In [9]:
# groupby 로 isbn13이 같은 도서의 대출건수를 합침
isbngroup = book3.groupby('isbn13')['loan_count'].sum()

In [10]:
isbngroup[9788901033518] #인덱스가 isbn
#idbn 기준으로 대출건수 합 확인 완료

np.int64(1207)

In [ ]:
book3

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,문학 > 한국문학 > 소설,6300,"767,918","13,500",216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설,상위권
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,문학 > 한국문학 > 소설,5667,"53,420","12,600",336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설,상위권
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5540,"486,356","15,120",332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설,상위권
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,문학 > 한국문학 > 소설,5478,"277,357","11,700",308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설,상위권
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,문학 > 한국문학 > 소설,4336,"66,025","13,500",368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설,상위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,문학 > 영미문학 > 소설,331,402,"9,000",40.0,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,문학 > 영미문학 > 소설,331,175,"10,800",192.0,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,문학 > 한국문학 > 소설,331,"1,084","13,500",32.0,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,문학 > 영미문학 > 소설,331,"3,761","12,600",40.0,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권
4847,5000,4995,살인자의 쇼핑몰 :강지영 장편소설,지은이: 강지영,자음과모음,2020.0,9788954442145,3810.0,1.0,813.70,문학 > 한국문학 > 소설,331,"2,137","12,420",176.0,34.0,8.3,40.0,30.0,0.7,15.0,32.8,액션/스릴러소설,하위권

- 현재는 book3의 인덱스가 판다스일반 인덱스 (0,1,2,3,)
- isbngroup과 인덱스가 다르기 때문에 update할 수 없다.
  * 인덱스를 isbn13으로 동일하게 맞추고 update
  * map 으로 맵핑하는 방법

In [11]:
book3['loan_count'] = book3['isbn13'].map(isbngroup)
book3[book3['isbn13'] == 9788901033518 ]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
717,722,722,돼지책,글·그림: 앤서니 브라운;옮긴이: 허은미,웅진씽크빅,2006,9788901033518,74800.0,1.0,843.0,...,32.0,206.0,9.5,30.0,40.0,0.9,5.1,44.6,그림책,하위권
944,951,951,돼지책,글·그림: 앤서니 브라운;옮긴이: 허은미,웅진씽크빅,2006,9788901033518,74800.0,NaN,843.0,...,32.0,206.0,9.5,30.0,40.0,0.9,5.1,44.6,그림책,하위권

- mapping -> 맵핑테이블 통해 원본df에서 키를 찾아 값을 추가하거나 바꿈
- idbngroup 결과물은 키 (인덱스)가 isbn13 이고 대출건수가 연산이 되어 있다. 즉< 맵핑테이블을 시용 .

## 중복제거
- 대출건수가 업데이트 되었기 때문에 최초값을 제외한 중복은 모두 제거한다.

In [12]:
book3[~book3['isbn13'].duplicated()] #최초값 중복값만 남긴다 이렇게 출력된건 중복값이 없다.

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,3810.0,NaN,813.62,...,216.0,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설,상위권
1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,3810.0,NaN,813.70,...,336.0,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설,상위권
2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,3810.0,NaN,813.62,...,332.0,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설,상위권
3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,3810.0,NaN,813.62,...,308.0,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설,상위권
4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,3810.0,NaN,813.62,...,368.0,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설,상위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,4994,4972,오늘은 어떤 낱말을 건져 볼까?,키아라 소렌티노 글 ;서남희 옮김,Fika Junior(피카주니어),2024.0,9791192869193,77880.0,NaN,883.00,...,40.0,13.0,10.0,30.0,40.0,0.9,0.0,43.0,그림책,하위권
4843,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,73840.0,NaN,843.00,...,40.0,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권
4844,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,74840.0,1.0,843.00,...,192.0,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권
4845,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,77810.0,NaN,813.70,...,32.0,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권
4846,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,74800.0,234.0,843.00,...,40.0,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권

In [13]:
book4 = book3[~book3['isbn13'].duplicated()]

In [14]:
book4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4352 entries, 0 to 4846
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                4352 non-null   int64
 1   ranking           4352 non-null   int64
 2   bookname          4352 non-null   object
 3   authors           4352 non-null   object
 4   publisher         4351 non-null   object
 5   publication_year  4339 non-null   object
 6   isbn13            4352 non-null   int64
 7   addition_symbol   4333 non-null   float64
 8   vol               1163 non-null   float64
 9   class_no          4352 non-null   float64
 10  class_nm          4352 non-null   object
 11  loan_count        4352 non-null   int64
 12  sales_point       4351 non-null   object
 13  price             4351 non-null   object
 14  page_count        4351 non-null   float64
 15  review_count      4351 non-null   float64
 16  average_rating    4351 non-null   float64
 17  최다연령대_여성          4352 non-null   float64
 18  최다연령대_남성          4352 non-null   float64
 19  성비_여성             4352 non-null   float64
 20  20~30대_남성         4352 non-null   float64
 21  20~30대_여성         4352 non-null   float64
 22  분류                4351 non-null   object
 23  대출수준              4352 non-null   object
dtypes: float64(11), int64(4), object(9)
memory usage: 850.0+ KB

## 도서명 중복처리용 샘플

In [15]:
book4['bookname'].duplicated(keep=False).sort_values()

2419    False
3103    False
3107    False
3108    False
3110    False
        ...
1207     True
1208     True
3418     True
1265     True
0        True
Name: bookname, Length: 4352, dtype: bool

In [16]:
book4[book4['bookname'].duplicated(keep=False)].sort_values('bookname')

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
3077,3180,3177,(간니닌니) 마법의 도서관 :명작 속으로 떠나는 판타지 동화 여행,"글: 지유리,그림: 이경희",아울북(북이십일 아울북),2020,9788950985905,74800.0,4.0,813.70,...,140.0,7.0,10.0,40.0,40.0,0.8,3.0,22.9,동화/명작/고전,하위권
3494,3611,3611,(간니닌니) 마법의 도서관 :명작 속으로 떠나는 판타지 동화 여행,"글: 지유리,그림: 이경희",아울북(북이십일 아울북),2020,9788950985943,74800.0,8.0,813.70,...,136.0,9.0,10.0,40.0,40.0,0.8,1.9,15.9,동화/명작/고전,하위권
3465,3581,3579,(간니닌니) 마법의 도서관 :명작 속으로 떠나는 판타지 동화 여행,"글: 지유리,그림: 이경희",아울북(북이십일 아울북),2020,9788950973841,74800.0,14.0,813.70,...,136.0,1.0,10.0,40.0,40.0,0.9,1.1,11.1,동화/명작/고전,하위권
3454,3570,3563,(간니닌니) 마법의 도서관 :명작 속으로 떠나는 판타지 동화 여행,"글: 지유리,그림: 이경희",아울북(북이십일 아울북),2020,9788950985936,74800.0,7.0,813.70,...,136.0,7.0,10.0,40.0,40.0,0.8,2.2,17.6,동화/명작/고전,하위권
3777,3904,3900,(간니닌니) 마법의 도서관 :명작 속으로 떠나는 판타지 동화 여행,"글: 지유리,그림: 이경희",아울북(북이십일 아울북),2020,9788950978860,74800.0,15.0,813.70,...,136.0,28.0,10.0,40.0,40.0,0.9,1.5,6.0,동화/명작/고전,하위권
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,232,232,흔한남매 이상한 나라의 고전 읽기,최재훈 글 ;정주연 그림,미래엔,2022,9791168413955,74810.0,2.0,813.50,...,148.0,44.0,10.0,40.0,40.0,0.8,2.1,20.4,동화/명작/고전,상위권
289,291,291,흔한남매 이상한 나라의 고전 읽기,최재훈 글 ;정주연 그림,미래엔,2022,9791168415331,74810.0,5.0,813.50,...,132.0,41.0,10.0,40.0,40.0,0.8,1.6,12.3,동화/명작/고전,상위권
214,216,216,흔한남매 이상한 나라의 고전 읽기,최재훈 글 ;정주연 그림,미래엔,2022,9791168412248,74810.0,1.0,813.50,...,148.0,39.0,9.8,40.0,40.0,0.8,1.9,20.6,동화/명작/고전,상위권
144,146,146,흰 :한강 소설,지은이: 한강,문학동네,2016,9788954640718,3810.0,NaN,813.62,...,132.0,82.0,8.4,30.0,40.0,0.8,9.4,49.7,한국소설,상위권
36,37,37,흰 :한강 소설,지은이: 한강,문학동네,2018,9788954651134,3810.0,NaN,813.62,...,196.0,45.0,9.1,40.0,50.0,0.7,7.4,28.9,한국소설,상위권

In [17]:
# 처리
## 맵핑테이블 생성
namegroup = book4.groupby('bookname')['loan_count'].mean()

##맵핑
book4['loan_count'] = book4['bookname'].map(namegroup)

##중복제거
book4 = book4[~book4['bookname'].duplicated()]

## 확인
book4[book4['bookname'] == '흰 : 한강 소설 ']

/tmp/ipython-input-4074815302.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  book4['loan_count'] = book4['bookname'].map(namegroup)

Empty DataFrame
Columns: [no, ranking, bookname, authors, publisher, publication_year, isbn13, addition_symbol, vol, class_no, class_nm, loan_count, sales_point, price, page_count, review_count, average_rating, 최다연령대_여성, 최다연령대_남성, 성비_여성, 20~30대_남성, 20~30대_여성, 분류, 대출수준]
Index: []

[0 rows x 24 columns]

In [18]:
book4[book4['bookname'] == '흰 :한강 소설 ']

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
36,37,37,흰 :한강 소설,지은이: 한강,문학동네,2018,9788954651134,3810.0,NaN,813.62,...,196.0,45.0,9.1,40.0,50.0,0.7,7.4,28.9,한국소설,상위권

In [19]:
## 맵핑테이블 생성
namegroup = book4.groupby('bookname')['loan_count'].mean()

In [20]:

##맵핑
book4['loan_count'] = book4['bookname'].map(namegroup)

In [21]:
##중복제거
book4 = book4[~book4['bookname'].duplicated()]

In [22]:
## 확인
book4[book4['bookname']=='흰 :한강 소설 ']

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
36,37,37,흰 :한강 소설,지은이: 한강,문학동네,2018,9788954651134,3810.0,NaN,813.62,...,196.0,45.0,9.1,40.0,50.0,0.7,7.4,28.9,한국소설,상위권

# 정제내역 (데이터프레임 백업)
- book: 수집원본
- book1: 필요없는 열 삭제
- book2: 열이름, 열순서 변경
- book3: isbn13 중복처리
- book4: 도서명 중복처리

In [23]:
book4['authors']

0                    지은이: 한강
1                   지은이: 정해연
2                    지은이: 한강
3                   지은이: 양귀자
4                   지은이: 양귀자
                ...
4841      키아라 소렌티노 글 ;서남희 옮김
4843    필리파 레더스 글·그림 ;최지현 옮김
4844       글: 모 오하라 ;번역: 지혜연
4845                지은이: 한연진
4846     버나드 와버 글 ;이수지 그림·옮김
Name: authors, Length: 3716, dtype: object

In [24]:
import requests
url = 'http://data4library.kr/api/loanItemSrch?authKey=f34a96e7a25a4a288e2c7e50d1e6bc33b5685582a94a7fddbdf4d56e47250a2c&startDt=2025-10-01&endDt=2025-10-31&from_age=20&to_age=29&pageNo=1&pageSize=100&format=json'
data_20 = requests.get(url)
data = data_20.json()
book_data = []
for i in data['response']['docs']:
  book_data.append(i['doc'])
book_a20 = pd.DataFrame(book_data)

In [25]:
import requests
url = 'http://data4library.kr/api/loanItemSrch?authKey=f34a96e7a25a4a288e2c7e50d1e6bc33b5685582a94a7fddbdf4d56e47250a2c&startDt=2025-10-01&endDt=2025-10-31&from_age=40&to_age=49&pageNo=1&pageSize=100&format=json'
data_40 = requests.get(url)
data = data_40.json()
book_data = []
for i in data['response']['docs']:
  book_data.append(i['doc'])
book_a40 = pd.DataFrame(book_data)

# 데이터병합
- 샘플: 도서랭킹 20대와 40대 데이터
- 연령대를 제외한 모든 조건이 동일
- (가정) 10월 한달간, 20대와 40대 도서대출 데이터를 분석하고 싶다.
-[한 행에 열을 두개로 나눈다]

In [ ]:
# 도서랭킹 '40대' 샘플 100개
book_a40
# 열 이름 = loan_count -> loan_count_40

In [ ]:
# 도서랭킹 '20대' 샘플 100개
book_a20
# 열 이름 = loan_count -> loan_count_20

## 단순병합

In [26]:
단순 = pd.concat([book_a20,book_a40])
단순.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 99
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                200 non-null    int64
 1   ranking           200 non-null    object
 2   bookname          200 non-null    object
 3   authors           200 non-null    object
 4   publisher         200 non-null    object
 5   publication_year  200 non-null    object
 6   isbn13            200 non-null    object
 7   addition_symbol   200 non-null    object
 8   vol               200 non-null    object
 9   class_no          200 non-null    object
 10  class_nm          200 non-null    object
 11  bookImageURL      200 non-null    object
 12  bookDtlUrl        200 non-null    object
 13  loan_count        200 non-null    object
dtypes: int64(1), object(13)
memory usage: 23.4+ KB

## Merge병합
- 병합을 할때, 특정 열을 기준으로 병합하는 방법
- on = 'isbn13'
- 두 df중 아래와 같이 한쪽이라도 키가 없는경우 -> merger로 이를 어떻게 해결할지 선택가능
|isbn13   |  loancount(20) | loancount(40) |
|---------|----------------|---------------|
|1134     |     50         |   100         |
|1135     |     x(NaN)     |   o(345)      |
|1136     |     o          |   x(NaN)      |
- how = 'outer' 모든데이터 유지
- 'inner' 한쪽이라도 결측이면 행삭제

In [27]:
merged = pd.merge(book_a20,book_a40, on = 'isbn13', how = 'outer')
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   no_x                100 non-null    float64
 1   ranking_x           100 non-null    object
 2   bookname_x          100 non-null    object
 3   authors_x           100 non-null    object
 4   publisher_x         100 non-null    object
 5   publication_year_x  100 non-null    object
 6   isbn13              187 non-null    object
 7   addition_symbol_x   100 non-null    object
 8   vol_x               100 non-null    object
 9   class_no_x          100 non-null    object
 10  class_nm_x          100 non-null    object
 11  bookImageURL_x      100 non-null    object
 12  bookDtlUrl_x        100 non-null    object
 13  loan_count_x        100 non-null    object
 14  no_y                100 non-null    float64
 15  ranking_y           100 non-null    object
 16  bookname_y          100 non-null    object
 17  authors_y           100 non-null    object
 18  publisher_y         100 non-null    object
 19  publication_year_y  100 non-null    object
 20  addition_symbol_y   100 non-null    object
 21  vol_y               100 non-null    object
 22  class_no_y          100 non-null    object
 23  class_nm_y          100 non-null    object
 24  bookImageURL_y      100 non-null    object
 25  bookDtlUrl_y        100 non-null    object
 26  loan_count_y        100 non-null    object
dtypes: float64(2), object(25)
memory usage: 39.6+ KB

# 결측처리
- 데이터프레임에서 NaN으로 표시
- 임의로 결측을 넣기 : pd.NA
- 파이썬 함수 return 값이 결측이어야 할 때 -> None

In [28]:
book4[book4['publisher'].isna()]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,...,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
4761,4911,4900,(The) Bad guys,by Aaron Blabey,NaN,2016.0,9789810986988,NaN,1.0,843.0,...,144.0,0.0,0.0,40.0,40.0,0.9,1.3,20.9,챕터북,하위권

## 필요성
- 통계연산오류 : 연산오류, 또는 분석이 왜곡된다.
- 데이터타입: 타입변경 시 결측 존재로 인해 오류 발생
- 예측모델: 절대 결측이 포함된 데이터를 학습해선 안됨

## isna() / 결측인 것들 / notna() 결측이 아닌

In [36]:
book4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3715 entries, 0 to 4846
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                3715 non-null   int64
 1   ranking           3715 non-null   int64
 2   bookname          3715 non-null   object
 3   authors           3715 non-null   object
 4   publisher         3715 non-null   object
 5   publication_year  3704 non-null   object
 6   isbn13            3715 non-null   int64
 7   addition_symbol   3698 non-null   float64
 8   vol               591 non-null    float64
 9   class_no          3715 non-null   float64
 10  class_nm          3715 non-null   object
 11  loan_count        3715 non-null   float64
 12  sales_point       3714 non-null   object
 13  price             3714 non-null   object
 14  page_count        3714 non-null   float64
 15  review_count      3714 non-null   float64
 16  average_rating    3714 non-null   float64
 17  최다연령대_여성          3715 non-null   float64
 18  최다연령대_남성          3715 non-null   float64
 19  성비_여성             3715 non-null   float64
 20  20~30대_남성         3715 non-null   float64
 21  20~30대_여성         3715 non-null   float64
 22  분류                3714 non-null   object
 23  대출수준              3715 non-null   object
dtypes: float64(12), int64(3), object(9)
memory usage: 725.6+ KB

In [ ]:
''' 각 컬럼의 결측을 확인, 처리방안을 결정합니다.
Index: 3716 entries, 0 to 4846
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype   처리
---  ------            --------------  -----  -----
 4   publisher         3715 non-null   object  drop
 5   publication_year  3705 non-null   object
 7   addition_symbol   3698 non-null   float64
 8   vol               592 non-null    float64 존재 -> 시리즈. 결측-> 단행봉

 12  sales_point       3715 non-null   object   drop
 13  price             3715 non-null   object
 14  page_count        3715 non-null   float64
 15  review_count      3715 non-null   float64
 16  average_rating    3715 non-null   float64

 22  분류                3715 non-null   object
dtypes: float64(12), int64(3), object(9)
memory usage: 725.8+ KB  '''

# 3715 가 같은 결측이면 삭제하면 끝이니까 한번 확인

In [31]:

pd.set_option('display.max_columns', None)
book4[book4['publisher'].isna()]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
4761,4911,4900,(The) Bad guys,by Aaron Blabey,NaN,2016.0,9789810986988,NaN,1.0,843.0,문학 > 영미문학 > 소설,336.0,"1,867","6,300",144.0,0.0,0.0,40.0,40.0,0.9,1.3,20.9,챕터북,하위권

In [33]:
# publisher 가 결측인 행 1개 삭제
book4['publisher'].dropna()  #시리즈가 아니라 데이터프레임으로 출력해야함

0                       창비
1                     문학동네
2                     문학동네
3                       쓰다
4                       쓰다
               ...
4841    Fika Junior(피카주니어)
4843               알에이치코리아
4844                   예림당
4845             보림(보림출판사)
4846                   비룡소
Name: publisher, Length: 3715, dtype: object

In [35]:
book4 = book4.dropna(subset=['publisher'])

In [37]:
book4[book4['sales_point'].isna()]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
2049,2092,2090,인생은 소설이다 :기욤 뮈소 장편소설,지은이: 기욤 뮈소 ;옮긴이: 양영란,밝은세상,2020.0,9788984374164,3860.0,NaN,863.0,문학 > 프랑스문학 > 소설,624.0,NaN,NaN,NaN,NaN,NaN,30.0,30.0,0.7,13.9,40.2,NaN,하위권

In [40]:
book4 = book4.dropna(subset=['sales_point'])

In [41]:
book4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3714 entries, 0 to 4846
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                3714 non-null   int64
 1   ranking           3714 non-null   int64
 2   bookname          3714 non-null   object
 3   authors           3714 non-null   object
 4   publisher         3714 non-null   object
 5   publication_year  3703 non-null   object
 6   isbn13            3714 non-null   int64
 7   addition_symbol   3697 non-null   float64
 8   vol               591 non-null    float64
 9   class_no          3714 non-null   float64
 10  class_nm          3714 non-null   object
 11  loan_count        3714 non-null   float64
 12  sales_point       3714 non-null   object
 13  price             3714 non-null   object
 14  page_count        3714 non-null   float64
 15  review_count      3714 non-null   float64
 16  average_rating    3714 non-null   float64
 17  최다연령대_여성          3714 non-null   float64
 18  최다연령대_남성          3714 non-null   float64
 19  성비_여성             3714 non-null   float64
 20  20~30대_남성         3714 non-null   float64
 21  20~30대_여성         3714 non-null   float64
 22  분류                3714 non-null   object
 23  대출수준              3714 non-null   object
dtypes: float64(12), int64(3), object(9)
memory usage: 725.4+ KB

In [43]:
pd.set_option('display.max_columns', None)
book4[book4['publication_year'].isna()]

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,class_nm,loan_count,sales_point,price,page_count,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준
2585,2659,2659,조명가게,강풀 글·그림,웅진씽크빅,NaN,9788901136141,7650.0,1.0,810.0,문학 > 한국문학 > 한국문학,519.333333,746,"14,400",328.0,2.0,8.8,40.0,30.0,0.8,22.3,11.1,본격장르만화,하위권
3264,3375,3375,Diary of a wimpy kid,by Jeff Kinney,Amulet Books,NaN,9780810987586,50799.0,1.0,843.0,문학 > 영미문학 > 소설,452.000000,"27,498","5,500",218.0,7.0,8.9,40.0,40.0,0.8,6.9,29.0,챕터북,하위권
3424,3539,3539,Dinosaurs before dark,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,NaN,9780679824114,50399.0,1.0,843.0,문학 > 영미문학 > 소설,435.000000,"15,019","5,890",80.0,10.0,8.6,40.0,40.0,0.8,6.1,28.8,챕터북,하위권
3637,3759,3757,제3인류 :베르나르 베르베르 장편소설,베르나르 베르베르 지음 ;전미연 옮김,열린책들,NaN,9788932916378,4860.0,1.0,863.0,문학 > 프랑스문학 > 소설,417.000000,"12,844","12,420",448.0,44.0,8.6,40.0,40.0,0.6,20.1,27.3,과학소설(SF),하위권
3880,4010,3999,(우주 탐험단) 네발로행진호,이승민 글 ;서현 그림,풀빛,NaN,9791161720647,74810.0,1.0,813.7,문학 > 한국문학 > 소설,396.000000,187,"10,800",64.0,5.0,9.2,40.0,40.0,0.9,2.5,28.7,동화/명작/고전,하위권
4083,4218,4209,은하수를 여행하는 히치하이커를 위한 안내서,더글러스 애덤스,책세상,NaN,9788970134796,4840.0,1.0,843.0,문학 > 영미문학 > 소설,381.000000,"4,982","8,100",295.0,22.0,8.1,20.0,20.0,0.7,20.9,37.9,과학소설(SF),하위권
4213,4349,4345,건방이의 건방진 수련기,천효정 글 ;강경수 그림,비룡소,NaN,9788949197821,74800.0,2.0,813.7,문학 > 한국문학 > 소설,371.000000,"4,849","13,500",196.0,20.0,9.9,40.0,40.0,0.8,1.1,15.5,동화/명작/고전,하위권
4452,4593,4586,캡틴 언더팬츠,지은이: 대브 필키 ;옮긴이: 심연희,푸른책들,NaN,9788961707183,77840.0,1.0,843.0,문학 > 영미문학 > 소설,357.000000,289,"12,420",144.0,15.0,9.5,40.0,40.0,0.8,0.4,25.1,동화/명작/고전,하위권
4549,4693,4688,슈퍼 독 개꾸쟁,정용환 글·그림,고릴라박스,NaN,9788965483847,74810.0,1.0,813.7,문학 > 한국문학 > 소설,350.000000,581,"10,800",192.0,33.0,9.9,40.0,40.0,0.8,4.5,30.0,동화/명작/고전,하위권
4666,4812,4803,오 마이 갓 어쩌다 사춘기,글: 강지혜 ;그림: 조승연,루크하우스,NaN,9791155682470,74810.0,1.0,813.7,문학 > 한국문학 > 소설,343.000000,400,"9,720",144.0,27.0,10.0,40.0,40.0,0.9,2.0,20.1,동화/명작/고전,하위권
4751,4900,4900,(The)knight at dawn,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,NaN,9780679824121,50399.0,2.0,843.0,문학 > 영미문학 > 소설,336.000000,"7,715","6,790",80.0,5.0,8.2,40.0,40.0,0.8,6.3,27.5,챕터북,하위권

In [45]:
# loc 수동으로 채우는 경우
# 몇 개 안되면 인터넷에서 검색해서 데이터를 하나하나 다시 넣어주면 된다.
boo4.loc[1962,'publication_year'] = '2011'

In [48]:
# 웹크롤링 등으로 자동으로 수집하는경우

def 웹크롤링_샘플(x):
  url = ''
  return abs

flag = book4.loc['publication_year'].isna() # flag 라는 변수에 출판년도가 결측인 행 범위 설정
book4.loc[flag,'publication_year'] = book4.loc[flag,'isbn13'].apply(웹크롤링_샘플)

AttributeError: 'str' object has no attribute 'isna'