<a href="https://colab.research.google.com/github/kidujm/data_class/blob/main/0122.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### book5 전 시간 복습

In [85]:
import pandas as pd
book5 = pd.read_csv('2026_01_20_정제.csv')

In [86]:
#보고 싶은 열이 있으면 끝에 추가 해주면 됨
book5[book5['bookname'].duplicated(keep=False)].sort_values('bookname')[['bookname', 'authors']]

                        bookname                  authors
2403           (귀신도 반한) 숲속 라면 가게            이서영 글 ;송효정 그림
1411           (귀신도 반한) 숲속 라면 가게            이서영 글 ;송효정 그림
2729                     깊이에의 강요       파트리크 쥐스킨트 저;김인순 옮김
1605                     깊이에의 강요     파트리크 쥐스킨트 지음 ;김인순 옮김
1245                 내 멋대로 산타 뽑기            최은옥 글 ;김무연 그림
910                  내 멋대로 산타 뽑기            최은옥 글 ;김무연 그림
1265        달러구트 꿈 백화점 :이미예 장편소설                 지은이: 이미예
79          달러구트 꿈 백화점 :이미예 장편소설                 지은이: 이미예
1870    루팡의 딸 =Daughter of Lupin    저자: 요코제키 다이 ;옮긴이: 최재호
3516    루팡의 딸 =Daughter of Lupin    저자: 요코제키 다이 ;옮긴이: 권하영
2439                   말하고 싶은 비밀       사쿠라 이이요 지음 ;김윤경 옮김
1158                   말하고 싶은 비밀       사쿠라 이이요 지음 ;김윤경 옮김
3577                          모모         미하엘 엔데 글 ;김영진 옮김
1025                          모모         미하엘 엔데 지음;한미희 옮김
1377                       문어 팬티       글: 수지 시니어 ;옮김: 한미숙
854                        문어 팬티       글: 수지 시니어 ;옮김: 한미숙
139                  바다가 들리는 편의점       마치다 소노코 지음 ;황국영 옮김
412                  바다가 들리는 편의점       마치다 소노코 지음 ;황국영 옮김
1488         벚꽃 지는 계절에 그대를 그리워하네    지은이: 우타노 쇼고 ;옮긴이: 김성기
2978         벚꽃 지는 계절에 그대를 그리워하네         우타노 쇼고 지음;김성기 옮김
8              불편한 편의점 :김호연 장편소설                 지은이: 김호연
38             불편한 편의점 :김호연 장편소설                 지은이: 김호연
1790                      붉은 손가락       히가시노 게이고 지음;양윤옥 옮김
1137                      붉은 손가락  지은이: 히가시노 게이고 ;옮긴이: 양윤옥
675    비 그친 오후의 헌책방 :야기사와 사토시 소설  지은이: 야기사와 사토시 ;옮긴이: 서혜영
3228   비 그친 오후의 헌책방 :야기사와 사토시 소설  지은이: 야기사와 사토시 ;옮긴이: 이소담
2276                      사과가 쿵!         다다 히로시 지음 ;정근 옮김
491                       사과가 쿵!          다다 히로시 지음;정근 옮김
1938                 사랑 후에 오는 것들                 지은이: 공지영
992                  사랑 후에 오는 것들                   공지영 지음
936           살인자의 쇼핑몰 :강지영 장편소설                 지은이: 강지영
827           살인자의 쇼핑몰 :강지영 장편소설                 지은이: 강지영
3464                   수영장에 간 아빠                  유진 글·그림
2341                   수영장에 간 아빠                 유진 (지은이)
1604             야옹이 문방구 :도단이 만화                 지은이: 도단이
2195             야옹이 문방구 :도단이 만화                 지은이: 도단이
3640                        어제저녁                      백희나
2519                        어제저녁                 지은이: 백희나
1618         오백 년째 열다섯 :김혜정 장편소설        글: 김혜정 ;일러스트: 조현아
1026         오백 년째 열다섯 :김혜정 장편소설                   글: 김혜정
88                 왜 나는 너를 사랑하는가      알랭 드 보통 [지음];정영목 옮김
512                왜 나는 너를 사랑하는가     저자: 알랭 드 보통 ;역자: 정영목
597                    용의자 X의 헌신       히가시노 게이고 지음;양억관 옮김
77                     용의자 X의 헌신      히가시노 게이고 지음 ;양억관 옮김
696                     우다다 꽁냥파크            권혁진 글 ;심보영 그림
475                     우다다 꽁냥파크            권혁진 글 ;심보영 그림
615   죽고 싶지만 떡볶이는 먹고 싶어 :백세희 에세이                 지은이: 백세희
157   죽고 싶지만 떡볶이는 먹고 싶어 :백세희 에세이                 지은이: 백세희
418          죽이고 싶은 아이 :이꽃님 장편소설                 지은이: 이꽃님
591          죽이고 싶은 아이 :이꽃님 장편소설                 지은이: 이꽃님
1273                     책 먹는 여우   프란치스카 비어만 글·그림 ;김경연 옮김
666                      책 먹는 여우      프란치스카 비어만 지음;김경연 옮김
97                 파친코 :이민진 장편소설           이민진 지음 ;이미정 옮김
82                 파친코 :이민진 장편소설       지은이: 이민진 ;옮긴이: 신승미
2467                    팬티 입은 늑대         글: 윌프리드 루파노 ;김보희
1624                    팬티 입은 늑대     글: 윌프리드 루파노 ;옮김: 김미선
440                      하우스 메이드       프리다 맥파든 지음 ;황성연 옮김
58                       하우스 메이드       프리다 맥파든 지음 ;김은영 옮김
2692      해변의 카프카 :무라카미 하루키 장편소설  지은이: 무라카미 하루키 ;옮긴이: 김춘미
1226      해변의 카프카 :무라카미 하루키 장편소설    무라카미 하루키 [지음] ;김춘미 옮김

In [87]:
# 데이터 프레임
book5.dropna(subset=['publisher'])

,Unnamed: 0,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,class_no,...,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준,단행/시리즈
0,0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,A03810,813.62,...,394.0,9.6,40.0,40.0,0.7,8.3,31.4,한국소설,상위권,단행본
1,1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,A03810,813.70,...,53.0,7.3,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설,상위권,단행본
2,2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,A03810,813.62,...,110.0,9.0,40.0,50.0,0.7,7.8,25.1,한국소설,상위권,단행본
3,3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,A03810,813.62,...,107.0,9.1,20.0,30.0,0.8,9.4,54.5,한국소설,상위권,단행본
4,4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,A03810,813.62,...,38.0,9.4,20.0,20.0,0.9,4.2,76.5,한국소설,상위권,단행본
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,3698,4994,4972,오늘은 어떤 낱말을 건져 볼까?,키아라 소렌티노 글 ;서남희 옮김,Fika Junior(피카주니어),2024.0,9791192869193,A77880,883.00,...,13.0,10.0,30.0,40.0,0.9,0.0,43.0,그림책,하위권,단행본
3682,3699,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,A73840,843.00,...,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권,단행본
3683,3700,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,A74840,843.00,...,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권,시리즈
3684,3701,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,A77810,813.70,...,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권,단행본
3685,3702,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,A74800,843.00,...,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권,시리즈

In [88]:
#원본 데이터 프레임에 저장하고 싶음 시리즈에 저장해야함
book5['publisher'] = book5['publisher'].dropna()

In [89]:
book5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3686 entries, 0 to 3685
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3686 non-null   int64
 1   no                3686 non-null   int64
 2   ranking           3686 non-null   int64
 3   bookname          3686 non-null   object
 4   authors           3686 non-null   object
 5   publisher         3686 non-null   object
 6   publication_year  3686 non-null   object
 7   isbn13            3686 non-null   int64
 8   addition_symbol   3686 non-null   object
 9   class_no          3686 non-null   float64
 10  class_nm          3686 non-null   object
 11  loan_count        3686 non-null   float64
 12  sales_point       3686 non-null   object
 13  price             3686 non-null   object
 14  page_count        3686 non-null   float64
 15  review_count      3686 non-null   float64
 16  average_rating    3686 non-null   float64
 17  최다연령대_여성          3686 non-null   float64
 18  최다연령대_남성          3686 non-null   float64
 19  성비_여성             3686 non-null   float64
 20  20~30대_남성         3686 non-null   float64
 21  20~30대_여성         3686 non-null   float64
 22  분류                3686 non-null   object
 23  대출수준              3686 non-null   object
 24  단행/시리즈            3686 non-null   object
dtypes: float64(10), int64(4), object(11)
memory usage: 720.1+ KB

### 컬럼별 정제 (출판년도)

In [90]:
book5[book5['publication_year'].str.startswith("[")]

,Unnamed: 0,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,class_no,...,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준,단행/시리즈
1030,1036,1374,1372,(뽀롱뽀롱 뽀로로) 작은 요정과 빵 가게 패티,"키즈아이콘,아이코닉스 [편]",아이코닉스,[202,9788964137109,A73810,813.7,...,0.0,0.0,30.0,30.0,0.8,9.6,48.2,그림책,하위권,단행본
2770,2781,3755,3745,나는 깜깜한 게 (별로) 무섭지 않아요!,안나 밀버른 글 ;대니얼 리얼리 그림,Usborne Korea,[201,9791188454846,A74370,843.0,...,4.0,10.0,30.0,30.0,0.9,6.6,56.4,그림책,하위권,단행본

In [91]:
book5['publication_year'].aastype(int) #오류가 날 경우 어딘가에 숫자가 아닌 문자가 존재한다.

AttributeError: 'Series' object has no attribute 'aastype'

# 정규표현식

In [92]:
# 문자인데 포함을 함 (정규표현식을 사용하려면 r을 먼저 씀 )

In [93]:
# 숫자가 아닌문자를 포함하는 모든 행 출력
book5[book5['publication_year'].astype(str).str.contains(r'[^0-9]', na=False)]

,Unnamed: 0,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,class_no,...,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준,단행/시리즈
1030,1036,1374,1372,(뽀롱뽀롱 뽀로로) 작은 요정과 빵 가게 패티,"키즈아이콘,아이코닉스 [편]",아이코닉스,[202,9788964137109,A73810,813.7,...,0.0,0.0,30.0,30.0,0.8,9.6,48.2,그림책,하위권,단행본
1324,1331,1782,1779,욕 좀 하는 이유나,류재향 글 ;이덕화 그림,위즈덤하우스,2019-12-13,9788962472066,A74810,813.7,...,17.0,9.5,40.0,40.0,0.9,1.3,16.5,동화/명작/고전,하위권,단행본
1483,1490,2004,2003,갑자기 기린 선생님,소연 글 ;이주희 그림,비룡소,2022.0,9788949162478,A74800,813.7,...,30.0,10.0,40.0,40.0,0.9,0.3,25.7,동화/명작/고전,하위권,단행본
1484,1491,2008,2008,구름빵 :욕심 바구니,"글·그림: GIMC,김향수",한솔교육,2012.0,9788953584051,A74800,813.7,...,1.0,10.0,30.0,40.0,0.8,6.5,50.2,그림책,하위권,시리즈
1485,1492,2009,2008,싯다르타 :헤르만 헤세 장편소설,지은이: 헤르만 헤세 ;옮긴이: 권혁준,문학동네,2018.0,9788954654418,A04850,853.0,...,5.0,9.7,40.0,40.0,0.6,17.0,27.6,독일소설,하위권,단행본
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,3698,4994,4972,오늘은 어떤 낱말을 건져 볼까?,키아라 소렌티노 글 ;서남희 옮김,Fika Junior(피카주니어),2024.0,9791192869193,A77880,883.0,...,13.0,10.0,30.0,40.0,0.9,0.0,43.0,그림책,하위권,단행본
3682,3699,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,A73840,843.0,...,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권,단행본
3683,3700,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,A74840,843.0,...,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권,시리즈
3684,3701,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,A77810,813.7,...,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권,단행본
3685,3702,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,A74800,843.0,...,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권,시리즈

In [94]:
book5[book5['publication_year'].astype(str).str.contains(r'\D', na=False)]

,Unnamed: 0,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,class_no,...,review_count,average_rating,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준,단행/시리즈
1030,1036,1374,1372,(뽀롱뽀롱 뽀로로) 작은 요정과 빵 가게 패티,"키즈아이콘,아이코닉스 [편]",아이코닉스,[202,9788964137109,A73810,813.7,...,0.0,0.0,30.0,30.0,0.8,9.6,48.2,그림책,하위권,단행본
1324,1331,1782,1779,욕 좀 하는 이유나,류재향 글 ;이덕화 그림,위즈덤하우스,2019-12-13,9788962472066,A74810,813.7,...,17.0,9.5,40.0,40.0,0.9,1.3,16.5,동화/명작/고전,하위권,단행본
1483,1490,2004,2003,갑자기 기린 선생님,소연 글 ;이주희 그림,비룡소,2022.0,9788949162478,A74800,813.7,...,30.0,10.0,40.0,40.0,0.9,0.3,25.7,동화/명작/고전,하위권,단행본
1484,1491,2008,2008,구름빵 :욕심 바구니,"글·그림: GIMC,김향수",한솔교육,2012.0,9788953584051,A74800,813.7,...,1.0,10.0,30.0,40.0,0.8,6.5,50.2,그림책,하위권,시리즈
1485,1492,2009,2008,싯다르타 :헤르만 헤세 장편소설,지은이: 헤르만 헤세 ;옮긴이: 권혁준,문학동네,2018.0,9788954654418,A04850,853.0,...,5.0,9.7,40.0,40.0,0.6,17.0,27.6,독일소설,하위권,단행본
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,3698,4994,4972,오늘은 어떤 낱말을 건져 볼까?,키아라 소렌티노 글 ;서남희 옮김,Fika Junior(피카주니어),2024.0,9791192869193,A77880,883.0,...,13.0,10.0,30.0,40.0,0.9,0.0,43.0,그림책,하위권,단행본
3682,3699,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013.0,9788925550459,A73840,843.0,...,8.0,9.3,30.0,30.0,0.9,6.4,46.2,그림책,하위권,단행본
3683,3700,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022.0,9788930264914,A74840,843.0,...,14.0,10.0,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권,시리즈
3684,3701,4998,4995,봄이 오리,지은이: 한연진,보림(보림출판사),2025.0,9788943317799,A77810,813.7,...,9.0,10.0,30.0,30.0,0.8,8.6,30.9,그림책,하위권,단행본
3685,3702,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015.0,9788949113609,A74800,843.0,...,23.0,9.7,30.0,40.0,0.9,4.8,40.3,그림책,하위권,시리즈

In [95]:
#2019-12-13 >> 2019
book5.loc[1324,'publication_year'] = '2019'

In [96]:
book5['publication_year'] = book5['publication_year'].astype(str).str.replace('[', '', regex=False).str.replace(']', '', regex=False)

In [97]:
book5['publication_year'].astype(float).astype(int)

0       2014
1       2021
2       2021
3       2013
4       2019
        ...
3681    2024
3682    2013
3683    2022
3684    2025
3685    2015
Name: publication_year, Length: 3686, dtype: int64

In [98]:
# 시리즈여서 시리즈에다가 저장
book5['publication_year'] = book5['publication_year'].astype(float).astype(int)

In [99]:
# 문제가 있는지 보고 인덱스 기준으로 정렬
book5['class_nm'].value_counts().sort_index

<bound method Series.sort_index of class_nm
문학 > 한국문학 > 소설             1905
문학 > 일본문학 > 소설              542
문학 > 영미문학 > 소설              445
문학 > 한국문학 > 르포르타주 및 기타      206
문학 > 프랑스문학 > 소설              80
문학 > 한국문학 > 수필               78
문학 > 문학 > 문장작법, 수사학          61
문학 > 독일문학 > 소설               51
문학 > 한국문학 > 한국문학             46
문학 > 한국문학 > 시                44
문학 > 중국문학 > 소설               37
문학 > 기타 제문학 > 인도-유럽계문학       23
문학 > 스페인문학 > 소설              22
문학 > 독일문학 > 기타 게르만 문학        19
문학 > 이탈리아문학 > 소설             17
문학 > 일본문학 > 수필               13
문학 > 한국문학 > 일기, 서간, 기행       11
문학 > 영미문학 > 르포르타주 및 기타       10
문학 > 영미문학 > 수필               10
문학 > 문학 > 전집, 총서              9
문학 > 영미문학 > 희곡                8
문학 > 일본문학 > 기타 아시아 제문학        7
문학 > 일본문학 > 일본문학              6
문학 > 문학 > 문학사, 평론             6
문학 > 독일문학 > 수필                6
문학 > 스페인문학 > 포르투갈문학           5
문학 > 일본문학 > 르포르타주 및 기타        5
문학 > 프랑스문학 > 수필               3
문학 > 프랑스문학 > 희곡               2
문학 > 독일문학 > 희곡                2
문학 > 프랑스문학 > 일기, 서간, 기행       1
문학 > 일본문학 > 시                 1
문학 > 한국문학 > 희곡                1
문학 > 이탈리아문학 > 시               1
문학 > 영미문학 > 영미문학              1
철학 > 심리학 > 각론                 1
문학 > 일본문학 > 일기, 서간, 기행        1
Name: count, dtype: int64>

## 컬렴별 정제 (class_nm)

In [100]:
# '>' 기준으로 나누기 (split) 후 중분류 소분류 분리
book5['중분류'] = book5['class_nm'].str.split('>').str[1] # 중분류
book5['소분류'] = book5['class_nm'].str.split('>').str[2] # 소분류

In [101]:
# 중분류와 소분류의 공백제거
book5['중분류'] = book5['class_nm'].str.split()
book5['소분류'] = book5['class_nm'].str.split()

In [102]:
book5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3686 entries, 0 to 3685
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        3686 non-null   int64
 1   no                3686 non-null   int64
 2   ranking           3686 non-null   int64
 3   bookname          3686 non-null   object
 4   authors           3686 non-null   object
 5   publisher         3686 non-null   object
 6   publication_year  3686 non-null   int64
 7   isbn13            3686 non-null   int64
 8   addition_symbol   3686 non-null   object
 9   class_no          3686 non-null   float64
 10  class_nm          3686 non-null   object
 11  loan_count        3686 non-null   float64
 12  sales_point       3686 non-null   object
 13  price             3686 non-null   object
 14  page_count        3686 non-null   float64
 15  review_count      3686 non-null   float64
 16  average_rating    3686 non-null   float64
 17  최다연령대_여성          3686 non-null   float64
 18  최다연령대_남성          3686 non-null   float64
 19  성비_여성             3686 non-null   float64
 20  20~30대_남성         3686 non-null   float64
 21  20~30대_여성         3686 non-null   float64
 22  분류                3686 non-null   object
 23  대출수준              3686 non-null   object
 24  단행/시리즈            3686 non-null   object
 25  중분류               3686 non-null   object
 26  소분류               3686 non-null   object
dtypes: float64(10), int64(5), object(12)
memory usage: 777.6+ KB

### 컬럼별 정제(' sales_point','price')

In [103]:
book5['sales_point'] = book5['sales_point'].str.replace(',', '')
book5['price'] = book5['price'].str.replace(',', '')

In [104]:
book5['sales_point'] = book5['sales_point'].astype(float).astype(int)
book5['price'] = book5['price'].astype(int)

## 컬럼별 정제 ('publisher')

In [105]:
# 출판사 데이터 중 '(' 를 포함하는 모든 행 출력

In [106]:
book5['publisher'].value_counts().sort_index().head(20)

publisher
21세기북스(북이십일 21세기북스)        4
Alma(알마 출판사)               1
Arte(북이십일 아르테)             3
Arte(아르테)                  5
Ascending(어센딩)             1
Asteroid                   1
Atnoon Books               1
Book Plaza(북플라자)          19
Book plaza(북플라자)           2
Booker(부커)                 1
Bookocean(북오션)             1
Dankkum i(단꿈아이)            2
Deep&wide                  1
Dolphin Books(돌핀북)         1
Drunken Editor(드렁큰에디터)     1
Eum(이음)                    1
Fika Junior(피카주니어)         9
Fika junior(피카주니어)         1
Fika(피카)                   2
Franz(프란츠)                 2
Name: count, dtype: int64

In [107]:
book5[book5['publisher'].astype(str).str.contains(r'\(', na=False)]['publisher'].head(40)

5      Giant Books(자이언트북스)
16            RHK(알에이치코리아)
49                 H(현대문학)
58        Book Plaza(북플라자)
61               Arte(아르테)
96                 H(현대문학)
113            사계절(사계절출판사)
123            사계절(사계절출판사)
124           RHK(알에이치코리아)
125              필름(필름출판사)
143            사계절(사계절출판사)
152               안온(안온북스)
168            사계절(사계절출판사)
174                H(현대문학)
180             Franz(프란츠)
189            블루홀6(블루홀식스)
207            사계절(사계절출판사)
242       Book plaza(북플라자)
249           RHK(알에이치코리아)
270             M창비(미디어창비)
275             필름(필름 출판사)
288             M창비(미디어창비)
290             M창비(미디어창비)
309           RHK(알에이치코리아)
310       Book plaza(북플라자)
324              arte(아르테)
362                H(현대문학)
391            사계절(사계절출판사)
392            블루홀6(블루홀식스)
396           RHK(알에이치코리아)
402           RHK(알에이치코리아)
440       Book Plaza(북플라자)
445            사계절(사계절출판사)
449              JEI(재능교육)
459     Influential(인플루엔셜)
466          세계사(세계사컨텐츠그룹)
474        Dankkum i(단꿈아이)
489            사계절(사계절출판사)
500               Fika(피카)
501           RHK(알에이치코리아)
Name: publisher, dtype: object

# 정규표현식 작성
- 적용할 열 : 'publisher'
- 데이터프레임명: book5

##처리
- 문자열1(문자열2) 패턴을 찾아 문자열 2만 남기기
- 문자열1 패턴은 그대로 유지.

## 코드만 작성해주세요

In [ ]:
# 40행으로 파악 가능
book5['publisher'].astype(str).str.replace(r'.*\((.*?)\)', r'\1', regex=True).head(40)

In [109]:
book5['publisher'] = book5['publisher'].astype(str).str.replace(r'.*\((.*?)\)', r'\1', regex=True)

In [112]:
book5.to_csv('0122_정제.csv', index= False)

# 챗봇 LLM.api
- 챗봇: LLM 모델을 일반인도 쉽게 사용할 수 있도록 만든 서비스
  * ChatGpt
  * Gemini

- LLM: 거대 언어 모델
- LLM api 외부에서 챗봇 기능을 호출

## 2. api 키 발급
- gemini_api 검색
- get started
- api key 만들기
- 구글 클라우드 크래딧 $300 (3개월) 계정당 1회
- api 키 AIzaSyCiUyuNBUKcwRBASQQxCIXKcKdEGsEKlYk

In [118]:
import json
from typing import Any
import requests
def gemini_api(guideline: str, data: Any) -> str:
    """
    Calls Gemini Developer API (generateContent) with model: gemini-2.5-flash
    Inputs:
      - guideline: system instruction string
      - data: any serializable object or string
    Returns:
      - model response text (single string)
    """
    API_KEY = "AIzaSyCiUyuNBUKcwRBASQQxCIXKcKdEGsEKlYk"  # 직접 키를 넣어 사용하세요.
    url = "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent"
    headers = {
        "x-goog-api-key": API_KEY,
        "Content-Type": "application/json",
    }
    if isinstance(data, str):
        data_text = data
    else:
        try:
            data_text = json.dumps(data, ensure_ascii=False, default=str)
        except Exception:
            data_text = str(data)
    payload = {
        "systemInstruction": {
            "role": "system",
            "parts": [{"text": guideline}],
        },
        "contents": [
            {
                "role": "user",
                "parts": [{"text": data_text}],
            }
        ],
    }
    resp = requests.post(url, headers=headers, json=payload, timeout=60)
    resp.raise_for_status()
    out = resp.json()
    candidates = out.get("candidates") or []
    if not candidates:
        raise ValueError(f"No candidates in response: {out}")
    content = (candidates[0].get("content") or {})
    parts = content.get("parts") or []
    text = "".join((p.get("text") or "") for p in parts).strip()
    if not text:
        raise ValueError(f"Empty text in response: {out}")
    return text

In [119]:
gemini_api('한국의 수도는?','')

'대한민국의 수도는 **서울**입니다.'

## LLM api 활용 > 도서주요 키워드 추출

In [120]:
prompt ='''
# 도서 키워드 추출
## 처리
- 제공된 도서의 isbn과 도서명을 확인합니다.
- 도서의 특징이 드러나는  요약한 3-5개 사이 주요 키워드를 추천합니다.
- 키워드는 도서명, 작가, 등장인물, 도서분류명은 제외.
- 도서의 내용과 특징, 컨셉에 초첨

## 제한사항
- ** DO NOT COMMENT BOOKNAME AND ISBN **
- ** DO NOT WRITE ADDITIONAL INFOMATION **
## 반환
- 키워드는 리스트로 묶어 반환
- 예시) ['키워드1', '키워드2','.......']
'''

In [122]:
gemini_api(prompt,'소년이 온다 :한강 장편소설, 9788936434120')

"['폭력과 저항', '집단 트라우마', '인간성 탐구', '기억의 투쟁']"

In [121]:
book5

,Unnamed: 0,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,class_no,...,최다연령대_여성,최다연령대_남성,성비_여성,20~30대_남성,20~30대_여성,분류,대출수준,단행/시리즈,중분류,소분류
0,0,1,1,소년이 온다 :한강 장편소설,지은이: 한강,창비,2014,9788936434120,A03810,813.62,...,40.0,40.0,0.7,8.3,31.4,한국소설,상위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
1,1,2,2,홍학의 자리 :정해연 장편소설,지은이: 정해연,문학동네,2021,9788954681155,A03810,813.70,...,30.0,20.0,0.8,9.9,48.6,추리/미스터리소설,상위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
2,2,3,3,작별하지 않는다 :한강 장편소설,지은이: 한강,문학동네,2021,9788954682152,A03810,813.62,...,40.0,50.0,0.7,7.8,25.1,한국소설,상위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
3,3,4,4,모순 :양귀자 장편소설,지은이: 양귀자,쓰다,2013,9788998441012,A03810,813.62,...,20.0,30.0,0.8,9.4,54.5,한국소설,상위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
4,4,5,5,나는 소망한다 내게 금지된 것을 :양귀자 장편소설,지은이: 양귀자,쓰다,2019,9788998441074,A03810,813.62,...,20.0,20.0,0.9,4.2,76.5,한국소설,상위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3681,3698,4994,4972,오늘은 어떤 낱말을 건져 볼까?,키아라 소렌티노 글 ;서남희 옮김,피카주니어,2024,9791192869193,A77880,883.00,...,30.0,40.0,0.9,0.0,43.0,그림책,하위권,단행본,"[문학, >, 이탈리아문학, >, 소설]","[문학, >, 이탈리아문학, >, 소설]"
3682,3699,4996,4995,까만 토끼,필리파 레더스 글·그림 ;최지현 옮김,알에이치코리아,2013,9788925550459,A73840,843.00,...,30.0,30.0,0.9,6.4,46.2,그림책,하위권,단행본,"[문학, >, 영미문학, >, 소설]","[문학, >, 영미문학, >, 소설]"
3683,3700,4997,4995,오싹오싹 좀비 금붕어,글: 모 오하라 ;번역: 지혜연,예림당,2022,9788930264914,A74840,843.00,...,40.0,40.0,0.9,0.9,14.3,동화/명작/고전,하위권,시리즈,"[문학, >, 영미문학, >, 소설]","[문학, >, 영미문학, >, 소설]"
3684,3701,4998,4995,봄이 오리,지은이: 한연진,보림출판사,2025,9788943317799,A77810,813.70,...,30.0,30.0,0.8,8.6,30.9,그림책,하위권,단행본,"[문학, >, 한국문학, >, 소설]","[문학, >, 한국문학, >, 소설]"
3685,3702,4999,4995,"아빠, 나한테 물어봐",버나드 와버 글 ;이수지 그림·옮김,비룡소,2015,9788949113609,A74800,843.00,...,30.0,40.0,0.9,4.8,40.3,그림책,하위권,시리즈,"[문학, >, 영미문학, >, 소설]","[문학, >, 영미문학, >, 소설]"