<a href="https://colab.research.google.com/github/kidujm/data_class/blob/main/20260203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
book = pd.read_csv('도서랭킹2025정제완료 .csv')
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3686 entries, 0 to 3685
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                3686 non-null   int64
 1   ranking           3686 non-null   int64
 2   bookname          3686 non-null   object
 3   authors           3686 non-null   object
 4   publisher         3686 non-null   object
 5   publication_year  3686 non-null   int64
 6   isbn13            3686 non-null   int64
 7   addition_symbol   3686 non-null   object
 8   class_no          3686 non-null   float64
 9   class_nm          3686 non-null   object
 10  loan_count        3686 non-null   float64
 11  sales_point       3686 non-null   int64
 12  price             3686 non-null   int64
 13  page_count        3686 non-null   float64
 14  review_count      3686 non-null   float64
 15  average_rating    3686 non-null   float64
 16  최다연령대_여성          3686 non-null   float64
 17  최다연령대_남성          3686 non-null   float64
 18  성비_여성             3686 non-null   float64
 19  20~30대_남성         3686 non-null   float64
 20  20~30대_여성         3686 non-null   float64
 21  분류                3686 non-null   object
 22  대출수준              3686 non-null   object
 23  단행/시리즈            3686 non-null   object
 24  중분류               3686 non-null   object
 25  소분류               3686 non-null   object
 26  data              3686 non-null   object
 27  키워드               3686 non-null   object
dtypes: float64(10), int64(6), object(12)
memory usage: 806.4+ KB

## 자유도 n - 1
- 판다스와 넘파이의 분산이 차이가 난다.
- 판다는 분모를 n -1 로 나눕니다. 넘파이는 n으로 나눔

## 왜??
- 현실적으로 모집단은 전수조사 불가.
- 표본으로 모집단을 추정하려는 시도는 통계학 기본원리
- 모집단에서 추출된 표본의 분산들은 평균적으로 작아짐
  * 모집단의 분포를 추정할 때 '표본분산'을 사용하면 '평균적으로' 모분산보다 작게 나온다.
  * 그래서 지금 가지고 있는 표본의 '분산'이 실제 모분산과 많이 차이 나지않도록 보완이 필요했다.
  *장기적으로 (무수히 많은 표본 추출시) -> 모분산과 같아지는 방향으로 약속하자

- 분산을 보완하는 방법이 분모를 n-1로 나누는 것
분산 -> 퍼진 정보,평균으로부터의 거리

## 왜 굳이 n - 1? 자유도가 없어진 빵 하나를 빼버리는 것
- 자유도:평균이 정해진 상태에서 마지막 하나의 표본은 선택권이 없다.
- 평균이 정해진 상태 ??
- 표본들이 장기적으로 임의의 평균 E에 가깝게 하기 위해
- 자유도가 없는 값 1개를 버리는 방향으로 '보완'

## '표본으로 모집단을 잘 추정하고 싶다는 통계학적 목적에 의해 탄생

In [3]:
-print('판다스 분산')
book['loan_count'].var()

판다스 분산

236961.20798735667

In [5]:
import numpy as np
print('넘파이 분산')
np.var(book['loan_count'])

넘파이 분산

236896.92117021413

In [ ]:
# 한글 폰트 설치
import pandas as pd
import numpy as np

# Install Korean font
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm

# Configure Matplotlib to use NanumGothic
fm.fontManager.addfont('/usr/share/fonts/truetype/nanum/NanumGothic.ttf')
plt.rcParams['font.family'] = 'NanumGothic'
plt.rcParams['axes.unicode_minus'] = False # To prevent breaking minus sign

- P값 > 우연일 확률
- 마케팅의 경우 10 퍼센트까지 허용
- 면접에서 정규분포에 대해 물어보기도 함
- 키, 체중, 시험점수 같은 자연현상에서 흔함
- 왜 중요한가? 자연현상에서 흔하기 때문에 많은 가정에서 흔하게 사용되기 때문이다.
-> 시험 점수가 정규분포를 따른다 > 학생들이 평균점수에 가까운 성적을 받으며 극단적으로 높거나 낮은 점수를 받은 학생은 적다.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import *

# 통계검증
- "통계적인 관점에서"
  * 정말 의미가 있을까?
  * 정말 관계가 있을까?
  * 정말 차이가 나나?

  - 어떻게? -> (기무) 가설을 세우고 결과 (숫자)로 " 기각하거나" / "기각하지" 않는 방향

## 통계적인 관점???
- " 우연으로 봐야할까? " vs " 효과가 있다고 봐야할까?"

# **신뢰구간**
- 통계는 모집단 추정
- "실제 모집단이 이럴 것이다" 라는 문장에 불확실성이 생김.
- 정량화를 할 필요가 있음 -> 얼마나 불확실한지
- 그럴듯 하게 만들려고 의도한 숫자는 아님
- 신뢰도는 상승(FACT)

# 신뢰수준에 관한 설명
https://support.opensurvey.io/ko/articles/8015250-%EC%8B%A0%EB%A2%B0%EC%88%98%EC%A4%80%EC%9D%B4%EB%9E%80-%EB%AC%B4%EC%97%87%EC%9D%B8%EA%B0%80%EC%9A%94

- (x) 같은 조사를 100번 할 때 95번은 48%~52% 사이의 결과가 나올 겁니다.

In [ ]:
# 신뢰수준에 관한 설명
https://support.opensurvey.io/ko/articles/8015250-%EC%8B%A0%EB%A2%B0%EC%88%98%EC%A4%80%EC%9D%B4%EB%9E%80-%EB%AC%B4%EC%97%87%EC%9D%B8%EA%B0%80%EC%9A%94

# 정확한 신뢰수준과 신뢰구간의 의미
- (O) 표본을 같은 방법으로 계속 추출해서 매번 신뢰구간을 만들면, 그 신뢰구간 중에 95 퍼센트가 모수를 포함한다.
- **모집단 실제값을 '포획' 하는 구간**
- (x) 여러 신뢰구간을 만들었을때, 모수(실제 지지율) 가 포함될 확률이 95%다
- ** 확률** 이라는 단어를 사용 할 수 없음
- 구간 안에 있거나, 밖에 있거나 둘 중 하나 , 확률이라는 상태가 존재하지 않음

# 유의수준α - **실제로 효과가 없는데도 효과가 있다고 잘못 결론을 내릴 확률의 최대 허용치**
- 신뢰구간이 모수 바깥으로 빠지는 비율 ()
- 95% 신뢰수준 -> 유의수준은 5% << 분석가가 정함
- 95% 신뢰수준을 제시했다 -> 유의수준은 자동으로 결정.
-  " 귀무가설이 맞는데, 내가 잘못 기각할 위험을 5% 까지만 허용"
-

## 신뢰수준에 따른 표본오차 (예 ±3.1%)
_ z분포 임계값
  * 모분산을 알거나 표본이 충분히 큰 경우
- t분포 임계값

## 신뢰수준에 따른 표본오차 (예 ±3.1%)
- z분포 임계값
  * 모분산을 알거나 표본이 충분이 큰 경우
  - 수준95% : 1.96
  - 수준99% : 2.576
  - 수준90% : 1.645
- t분포 임계값
 * 표본으로 부터 직접 임계값을 구함

 **임계값(Critical Value)**이란, 가설 검정 시 귀무가설을 기각할지 여부를 결정하는 **최종적인 경계선(Boundary)**을 의미합니다.

In [10]:
import pandas as pd

df = pd.read_csv('employee_data_example.csv')
df.head()

   직급      연봉(천만원)   근무시간(주당)  업무성과   근속연수(년)
0  차장  5889.596317  36.925621    50  6.627034
1  부장  4949.451122  41.664462    68  2.538271
2  과장  6065.114097  33.096415    51  5.454920
3  부장  5686.559457  38.595969    93  7.614286
4  부장  5306.763525  39.700914    75  1.785034

In [12]:
# z분포로 구한 것 - 모집단이 있거나 표본이 충분히 큰 경우 < 하지만 기준은 없음
import numpy as np
## 연봉의 신뢰구간 ##
# 평균
mean_salary = df['연봉(천만원)'].mean()
# 표준편차
std_salary = df['연봉(천만원)'].std(ddof=1) # n-1 표준편차 (모집단의 표준편차를 구할땐 ddof=0)
# 샘플크기
n = len(df['연봉(천만원)'])

## 임계값
# z-분포  (갯수충분)
z_critical = 1.960

# # t-분포 (갯수 불충분)
# c_level = 0.95 # 95% 신뢰수준
# alpha = 1 - c_level
# t_critical = t.ppf(1 - alpha/2, df= n-1)

# 오차 한계
margin_of_error = z_critical * (std_salary / np.sqrt(n))
#                 t_critical (t임계값일 경우)

# 신뢰구간 -> (평균 - 오차한계) ~ (평균 + 오차한계)
lower_bound = mean_salary - margin_of_error
upper_bound = mean_salary + margin_of_error

print(f"신뢰구간: ({lower_bound}, {upper_bound})")

신뢰구간: (5405.48059187175, 5675.030059193736)

**표본 오차(Sampling Error)**란 모집단 전체를 조사하지 않고 그 일부인 **표본(Sample)**만을 추출하여 조사했을 때 발생하는 통계적 수치와 실제 모집단 값(모수) 사이의 차이를 의미

In [13]:
df['연봉(천만원)'].mean()

np.float64(5540.255325532743)

In [15]:
print(f'오차:{margin_of_error}')
print(f'신뢰구간 오차는 평균대비 ±{margin_of_error/df['연봉(천만원)'].mean()}%')
print(f"신뢰구간: ({lower_bound}, {upper_bound})")

오차:134.77473366099315
신뢰구간 오차는 평균대비 ±0.024326448104272775%
신뢰구간: (5405.48059187175, 5675.030059193736)

In [16]:
#프로젝트에서 그대로 사용->
print(f'95%  신뢰수준에서 해당 표본의 평균연봉 신뢰구간은 "신뢰구간: ({lower_bound}, {upper_bound})"')
print(f'95% 신뢰수준에서 위 구간은 모수를 포함 할 것으로 신뢰되는 구간이다')

95%  신뢰수준에서 해당 표본의 평균연봉 신뢰구간은 "신뢰구간: (5405.48059187175, 5675.030059193736)"
95% 신뢰수준에서 위 구간은 모수를 포함 할 것으로 신뢰되는 구간이다

# ** 데이터분석 프로젝트에서 자주 사용하는 가설 검증 종류 **
1. 상관관계
  - 두 숫자형 데이터의 비례함 정도 (선형관계 -직선형태로 나나타는것 x)
  - 대출건수와 페이간 상관관계
2. 그룹차이
  - '범주형 변수 하나는 여러개의 범주를 가집니다.
  - 범주를 쪼개서 범주의 연속형 변수차이를 확인 (지역,행정도 별로 리뷰수 차이가 있는지?)
  - 평균 차이? 중앙값 차이?
  - 츨판사별 대출건수 평균(중앙값)차이
3. 독립성
  - 두 범주형 변수가 서로 '독립적' 인지?
  - ex) 지역/브랜드 지역에 따라 특정 브랜드가 어떤지
  
  - 향후 6개월 전략
  -**ROA(Return on Assets, 총자산이익률)**란 기업이 보유하고 있는 전체 자산(Total Assets)을 얼마나 효율적으로 활용하여 이익을 창출했는지를 나타내는 대표적인 수익성 지표입니다.
  - 데이터에 기반해서 어떤 광고를 할지 어디에 매장을 만들면 월매출이 얼마정도 될지 향후 6개월안에는 어떤식으로 진행이 될지 등등의 결과물을 도출해야함