<a href="https://colab.research.google.com/github/kidujm/data_class/blob/main/%EA%B2%BD%EA%B8%B0%EB%8F%84df_%EC%9C%A0%EC%A0%95%EB%AF%BC_0226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 추가데이터분석
- 컬럼명 변경

In [ ]:
import pandas as pd

경기도df = pd.read_csv("경기도_유동인구_시군구_행정동별_시간대별 집계.csv",encoding="cp949")

In [ ]:
서울df = pd.read_csv("서울시 상권분석서비스(길단위인구-행정동).csv",encoding="cp949")

In [ ]:
# 컬럼명 한글 매핑
column_rename_map = {
    "STD_YM": "기준_연월",
    "TMZON_CD": "시간대_코드",
    "ADSTRD_CD": "행정동_코드",
    "ADSTRD_NM": "행정동_명",
    "ADSTRD_NM_ENG": "행정동_영문명",
    "DYNMC_POPLTN_CNT": "유동인구_수",
    "DYNMC_POPLTN_CNT_RATE": "유동인구_비율",
    "BFYM_INCNDECR_VAL": "전월_대비_증감_인구수",
    "BFYM_INCNDECR_RATE": "전월_대비_증감률",
    "BFYY_SMMN_INCNDECR_VAL": "전년_동월_대비_증감_인구수",
    "BFYY_SMMN_INCNDECR_RATE": "전년_동월_대비_증감률"
}

In [ ]:
경기도df.rename(columns=column_rename_map, inplace=True)

# 결과 확인
경기도df.head()

,기준_연월,시간대_코드,행정동_코드,행정동_명,행정동_영문명,유동인구_수,유동인구_비율,전월_대비_증감_인구수,전월_대비_증감률,전년_동월_대비_증감_인구수,전년_동월_대비_증감률
0,202503,TZ04,4111156000,파장동,Pajang-dong,700245.94,9.57,23180.39,3.423655,48200.17,7.392145
1,202503,TZ05,4111156000,파장동,Pajang-dong,817843.94,11.18,25613.33,3.233065,64466.32,8.556973
2,202503,TZ06,4111156000,파장동,Pajang-dong,913676.20,12.49,27766.90,3.134283,76900.72,9.190126
3,202503,TZ07,4111156000,파장동,Pajang-dong,988328.94,13.51,6783.91,0.691146,72144.73,7.874478
4,202503,TZ08,4111156000,파장동,Pajang-dong,1036882.20,14.18,-9493.20,-0.907246,71042.78,7.355548

In [ ]:
# 서울df 컬럼명 통일 (필요한 것만)
seoul_df = 서울df.rename(columns={
    "기준_년분기_코드": "기준_연월",
    "행정동_코드_명": "행정동_명",
    "총_유동인구_수": "유동인구_수"
})

In [ ]:
경기도df.columns

Index(['기준_연월', '시간대_코드', '행정동_코드', '행정동_명', '행정동_영문명', '유동인구_수', '유동인구_비율',
       '전월_대비_증감_인구수', '전월_대비_증감률', '전년_동월_대비_증감_인구수', '전년_동월_대비_증감률'],
      dtype='object')

In [ ]:
import pandas as pd

경기도df = pd.read_csv("경기도_유동인구_한글컬럼.csv")

In [ ]:
경기도df.columns

Index(['기준_연월', '시간대_코드', '행정동_코드', '행정동_명', '행정동_영문명', '유동인구_수', '유동인구_비율',
       '전월_대비_증감_인구수', '전월_대비_증감률', '전년_동월_대비_증감_인구수', '전년_동월_대비_증감률', '지역'],
      dtype='object')

In [ ]:
경기도df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564751 entries, 0 to 564750
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_연월            564751 non-null  int64
 1   시간대_코드           564751 non-null  object
 2   행정동_코드           564751 non-null  int64
 3   행정동_명            564751 non-null  object
 4   행정동_영문명          547525 non-null  object
 5   유동인구_수           564751 non-null  float64
 6   유동인구_비율          564751 non-null  float64
 7   전월_대비_증감_인구수     564751 non-null  float64
 8   전월_대비_증감률        564751 non-null  float64
 9   전년_동월_대비_증감_인구수  564751 non-null  float64
 10  전년_동월_대비_증감률     564751 non-null  float64
 11  지역               564751 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 51.7+ MB

In [ ]:
경기도df

In [ ]:
# 모든 열 출력. 판다스 세팅
pd.set_option('display.max_columns', None) # 노트북에서 한번만 실행
경기도df

,기준_연월,시간대_코드,행정동_코드,행정동_명,행정동_영문명,유동인구_수,유동인구_비율,전월_대비_증감_인구수,전월_대비_증감률,전년_동월_대비_증감_인구수,전년_동월_대비_증감률,지역
0,202503,TZ04,4111156000,파장동,Pajang-dong,700245.94,9.57,23180.39,3.423655,48200.17,7.392145,경기도
1,202503,TZ05,4111156000,파장동,Pajang-dong,817843.94,11.18,25613.33,3.233065,64466.32,8.556973,경기도
2,202503,TZ06,4111156000,파장동,Pajang-dong,913676.20,12.49,27766.90,3.134283,76900.72,9.190126,경기도
3,202503,TZ07,4111156000,파장동,Pajang-dong,988328.94,13.51,6783.91,0.691146,72144.73,7.874478,경기도
4,202503,TZ08,4111156000,파장동,Pajang-dong,1036882.20,14.18,-9493.20,-0.907246,71042.78,7.355548,경기도
...,...,...,...,...,...,...,...,...,...,...,...,...
564746,202208,TZ01,4183031000,강상면,Gangsang-myeon,1391.57,3.47,-554.06,-28.477152,1082.89,350.813140,경기도
564747,202208,TZ02,4183031000,강상면,Gangsang-myeon,2072.36,5.16,-37.35,-1.770385,1394.99,205.942100,경기도
564748,202208,TZ03,4183031000,강상면,Gangsang-myeon,4514.55,11.25,424.82,10.387483,3586.07,386.230200,경기도
564749,202208,TZ04,4183031000,강상면,Gangsang-myeon,6080.36,15.15,797.82,15.102962,4980.08,452.619320,경기도
564750,202208,TZ05,4183031000,강상면,Gangsang-myeon,6241.57,15.55,1028.82,19.736607,5079.35,437.038600,경기도

In [ ]:
import pandas as pd
import numpy as np

경기도df.shape

(564751, 12)

In [ ]:
경기도df.columns

Index(['기준_연월', '시간대_코드', '행정동_코드', '행정동_명', '행정동_영문명', '유동인구_수', '유동인구_비율',
       '전월_대비_증감_인구수', '전월_대비_증감률', '전년_동월_대비_증감_인구수', '전년_동월_대비_증감률', '지역'],
      dtype='object')

In [ ]:
경기도df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564751 entries, 0 to 564750
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_연월            564751 non-null  int64
 1   시간대_코드           564751 non-null  object
 2   행정동_코드           564751 non-null  int64
 3   행정동_명            564751 non-null  object
 4   행정동_영문명          547525 non-null  object
 5   유동인구_수           564751 non-null  float64
 6   유동인구_비율          564751 non-null  float64
 7   전월_대비_증감_인구수     564751 non-null  float64
 8   전월_대비_증감률        564751 non-null  float64
 9   전년_동월_대비_증감_인구수  564751 non-null  float64
 10  전년_동월_대비_증감률     564751 non-null  float64
 11  지역               564751 non-null  object
dtypes: float64(6), int64(2), object(4)
memory usage: 51.7+ MB

In [ ]:
# 결측치 비율 (상위 10개)
경기도df.isna().mean().sort_values(ascending=False).head(10)

행정동_영문명            0.030502
기준_연월              0.000000
행정동_코드             0.000000
시간대_코드             0.000000
행정동_명              0.000000
유동인구_수             0.000000
유동인구_비율            0.000000
전월_대비_증감_인구수       0.000000
전월_대비_증감률          0.000000
전년_동월_대비_증감_인구수    0.000000
dtype: float64

In [ ]:
경기도df.duplicated().sum()

np.int64(0)

In [ ]:
key_cols = ["기준_연월", "행정동_코드"]
if "시간대_코드" in 경기도df.columns:
    key_cols.append("시간대_코드")

print("키 컬럼:", key_cols)
print("키 기준 중복 행 수:", 경기도df.duplicated(subset=key_cols).sum())

키 컬럼: ['기준_연월', '행정동_코드', '시간대_코드']
키 기준 중복 행 수: 0

In [ ]:
# 타입정리

In [ ]:
# 기준_연월: YYYYMM 형태로 정리
경기도df["기준_연월"] = (
    경기도df["기준_연월"]
    .astype(str)
    .str.replace(r"\.0$", "", regex=True)
    .astype(int)
)

# 날짜 컬럼(월 기준) 생성
경기도df["기준_월"] = pd.to_datetime(
    경기도df["기준_연월"].astype(str) + "01",
    format="%Y%m%d"
)

# 연도 / 월 파생
경기도df["연도"] = 경기도df["기준_월"].dt.year
경기도df["월"] = 경기도df["기준_월"].dt.month

In [ ]:
for col in ["행정동_코드", "시간대_코드"]:
    경기도df[col] = (
        경기도df[col]
        .astype(str)
        .str.replace(r"\.0$", "", regex=True)
        .str.strip()
    )

In [ ]:
num_cols = [
    "유동인구_수",
    "유동인구_비율",
    "전월_대비_증감_인구수",
    "전월_대비_증감률",
    "전년_동월_대비_증감_인구수",
    "전년_동월_대비_증감률",
]

for col in num_cols:
    경기도df[col] = pd.to_numeric(
        경기도df[col].astype(str).str.replace(",", ""),
        errors="coerce"
    )

In [ ]:
경기도df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564751 entries, 0 to 564750
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_연월            564751 non-null  int64
 1   시간대_코드           564751 non-null  object
 2   행정동_코드           564751 non-null  object
 3   행정동_명            564751 non-null  object
 4   행정동_영문명          547525 non-null  object
 5   유동인구_수           564751 non-null  float64
 6   유동인구_비율          564751 non-null  float64
 7   전월_대비_증감_인구수     564751 non-null  float64
 8   전월_대비_증감률        564751 non-null  float64
 9   전년_동월_대비_증감_인구수  564751 non-null  float64
 10  전년_동월_대비_증감률     564751 non-null  float64
 11  지역               564751 non-null  object
 12  기준_월             564751 non-null  datetime64[ns]
 13  연도               564751 non-null  int32
 14  월                564751 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(2), int64(1), object(5)
memory usage: 60.3+ MB

In [ ]:
# 행정도 영문명 칼럼 삭제
경기도df = 경기도df.drop(columns=["행정동_영문명"])

In [ ]:
경기도df.columns

Index(['기준_연월', '시간대_코드', '행정동_코드', '행정동_명', '유동인구_수', '유동인구_비율',
       '전월_대비_증감_인구수', '전월_대비_증감률', '전년_동월_대비_증감_인구수', '전년_동월_대비_증감률', '지역',
       '기준_월', '연도', '월'],
      dtype='object')

In [ ]:
# 이상치품질체크
경기도df["유동인구_수"].describe()

count    5.647510e+05
mean     4.018029e+05
std      1.284019e+06
min      3.080000e+00
25%      2.112991e+04
50%      5.636509e+04
75%      3.250052e+05
max      1.846624e+07
Name: 유동인구_수, dtype: float64

In [ ]:
(경기도df["유동인구_수"] < 0).sum()
#정상

np.int64(0)

In [ ]:
(경기도df["전월_대비_증감_인구수"] < 0).sum()

np.int64(252423)

In [ ]:
경기도df["전월_대비_증감률"].describe()

count    564751.000000
mean         40.486944
std         995.113437
min         -99.845250
25%          -1.994068
50%           0.056488
75%           2.966672
max       63642.074000
Name: 전월_대비_증감률, dtype: float64

In [ ]:
# 전월_대비_증감률 극단값 개수 확인
s = 경기도df["전월_대비_증감률"]

print(">= 100% 개수:", (s >= 100).sum())
print(">= 500% 개수:", (s >= 500).sum())
print(">= 1000% 개수:", (s >= 1000).sum())
print(">= 10000% 개수:", (s >= 10000).sum())

>= 100% 개수: 6907
>= 500% 개수: 5020
>= 1000% 개수: 2963
>= 10000% 개수: 561

# 전처리 단계
- 중복체크
- 타입 정리
- 불필요 컬럼 제거 (행정동_영문명)
- 이상치/품질 제거
- 결측치 처리
- 파생 변수 생성

In [ ]:
경기도df.to_csv("경기도df_preprocessed.csv", index=False, encoding="utf-8-sig")

# 오늘한 정제
- 이상치 검증까지